@model RecognizerUserVM

<div class="_Auth">

    <div class="btn-group">
        @*<button type="button" style="background-color: var(--orange);" class="btn dropdown-toggle nav_btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        @Model.Name
        </button>*@
        <a class="profile_list_link" href="javascript:;">@Model.Name</a>
        <ul class="profile_list">
            <li>
                @if (Model.Type == 2 || Model.Type == 0 || Model.Type == 4 || Model.Type == 5)
                {
                    <a href="/panel" class="" type="button">Dashboard</a>
                }
                else if (Model.Type == 3)
                {
                    <a href="/driver-reservations" class="" type="button">Dashboard</a>
                }
                else if (Model.Type == 1)
                {
                    <a href="/user-management" class="" type="button">Dashboard</a>
                }
            </li>
            @if (Model.Type != 3)
            {
                <li>
                    <a href="/profile" class="" type="button">Profile</a>
                </li>
            }
            <li>
                <a href="/logout" class="" type="button">Logout</a>
            </li>
        </ul>
        @*<div class="dropdown-menu dropdown-menu-right">
        @if (Model.Type == 2 || Model.Type == 0 || Model.Type == 4 || Model.Type == 5)
        {
        <a href="/panel" class="dropdown-item" type="button">Dashboard</a>
        }
        else if (Model.Type == 3)
        {
        <a href="/driver-reservations" class="dropdown-item" type="button">Dashboard</a>
        }
        else if(Model.Type == 1)
        {
        <a href="/user-management" class="dropdown-item" type="button">Dashboard</a>
        }


        @if (Model.Type != 3)
        {
        <a href="/profile" class="dropdown-item" type="button">Profile</a>
        }
        <a href="/logout" class="dropdown-item" type="button">Logout</a>
        </div>*@
    </div>
</div>

<style>
    a.profile_list_link {
        display: block;
        background-color: var(--orange);
        color: white;
        padding: 0.5rem 2rem;
        border-radius: 0.5rem;
        text-align: center;
    }

    ul.profile_list {
        position: absolute;
        top: 2.6rem;
        flex-direction: column;
        padding: 0;
        background: white;
        opacity: 0;
        visibility: hidden;
        border: 1px solid var(--orange);
        gap: 0;
        overflow: hidden;
        transition: opacity 150ms, visibility 150ms, max-height 150ms;
    }



        ul.profile_list li a {
            border-bottom: 1px solid var(--orange);
            width: 100%;
            padding: 0.5rem 3rem;
            display: block;
            color: var(--orange);
            transition: color 150ms, background-color 150ms;
        }

            ul.profile_list li a:hover {
                color: white;
                background-color: var(--orange);
            }

        ul.profile_list li:last-child a {
            border-bottom: none;
        }

        ul.profile_list li {
            text-align: center;
            width: 100%;
        }

    @@media (min-width: 768px) {
        ._Auth .btn-group:hover ul.profile_list {
            opacity: 1;
            visibility: visible;
        }
    }

    @@media (max-width: 768px) {
        ul.profile_list {
            position: relative;
            top: 0.2rem;
            opacity: 0;
            visibility: visible;
            max-height: 0rem;
        }

        ._Auth .btn-group.active ul.profile_list {
            opacity: 1;
            visibility: visible;
            max-height: 10rem;
        }

        ._Auth .btn-group {
            flex-direction: column;
        }
    }
</style>