@model RecognizerUserVM

<div class="_Auth">

    <div class="btn-group">
        @*<button type="button" style="background-color: var(--orange);" class="btn dropdown-toggle nav_btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        @Model.Name
        </button>*@
        <a class="profile_list_link" href="javascript:;">@Model.Name</a>
        <ul class="profile_list">
            <li>
                @if (Model.Type == 2 || Model.Type == 0 || Model.Type == 4 || Model.Type == 5)
                {
                    <a href="/panel" class="" type="button">Dashboard</a>
                }
                else if (Model.Type == 3)
                {
                    <a href="/driver-reservations" class="" type="button">Dashboard</a>
                }
                else if (Model.Type == 1)
                {
                    <a href="/user-management" class="" type="button">Dashboard</a>
                }
            </li>
            @if (Model.Type != 3)
            {
                <li>
                    <a href="/profile" class="" type="button">Profile</a>
                </li>
            }
            <li>
                <a href="/logout" class="" type="button">Logout</a>
            </li>
        </ul>
    </div>
</div>
