@model RecognizerUserVM



<div class="_Auth">

    <div class="btn-group">
        <button type="button" style="background-color: var(--orange);" class="btn dropdown-toggle nav_btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            @Model.Name
        </button>
        <div class="dropdown-menu dropdown-menu-right">
            @if (Model.Type == 2 || Model.Type == 0 || Model.Type == 4 || Model.Type == 5)
            {
                <a href="/panel" class="dropdown-item" type="button">Dashboard</a>
            }
            else if (Model.Type == 3)
            {
                <a href="/driver-reservations" class="dropdown-item" type="button">Dashboard</a>
            }
            else if(Model.Type == 1)
            {
                <a href="/user-management" class="dropdown-item" type="button">Dashboard</a>
            }


            @if (Model.Type != 3)
            {
                <a href="/profile" class="dropdown-item" type="button">Profile</a>
            }
            <a href="/logout" class="dropdown-item" type="button">Logout</a>
        </div>
    </div>
</div>