
@font-face {
    font-family: "gothic";
    src: url(../font/GOTHIC.TTF);
}

@font-face {
    font-family: "AvertaDemoPE-Regular";
    src: url(../font/AvertaDemoPE-Regular.otf);
}

* {
    font-family: "AvertaDemoPE-Regular";
}

._Steps_Style {
    width: 100%;
    border-radius: 10px;
    background-color: var(--orange);
    margin-top: 2rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
}



._Steps_Flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

._Line {
    width: 32%;
    height: 1.5px;
    background-color: rgba(255, 255, 255, 0.652);
}

._Step_Text {
    color: white;
    text-align: center;
}

    ._Step_Text._Active {
        color: black;
    }

._Steps_Btns {
    display: flex;
    align-content: center;
    width: 90%;
    margin-left: auto;
    gap: 1rem;
}

    ._Steps_Btns > div, ._Steps_Btns button {
        width: 100%;
    }

    ._Steps_Btns button {
        background-color: white;
        border: none;
        outline: none;
        height: 2.5rem;
        border-radius: 10px;
        color: var(--orange);
        transition: background-color 250ms;
    }

        ._Steps_Btns button:hover {
            background-color: rgb(213, 213, 213);
        }

.col-md-1.mb-3:not(.col-md-1.mb-3.d-none) {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}


.panel_sevice_flex {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 1rem;
}

.panel_sevice_item {
    width: calc((100% / 3) - 1rem);
}

@media only screen and (max-width: 768px) {
    ._Steps_Btns {
        width: 100%;
        margin-top: 1rem;
    }

    .panel_sevice_item {
        width: 100%;
    }
}

.err_block {
    border-color: red !important;
}




.extrasFlex {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    cursor: pointer;
    justify-content: space-between;
}

.extrasItem {
    width: calc((100% / 6) - 1.219rem);
    height: 4rem;
    text-align: center;
}

    .extrasItem > div {
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        border: 1px solid rgb(0, 0, 0, .16);
        width: 100%;
        height: 100%;
    }

    .extrasItem.active {
        border: 2px solid orange;
    }


    .extrasItem img {
        width: 100%;
        height: 100%;
        object-fit: scale-down;
        position: relative;
        z-index: 2;
    }

    .extrasItem input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        z-index: 1;
        opacity: 0;
        /*visibility: visible;*/
    }

@media screen and (max-width: 768px) {
    .extrasItem {
        /* border: 1px solid; */
        width: calc((100% / 3) - .67rem);
    }

    .extrasArea {
        width: 60%;
    }
}

@media screen and (max-width: 576px) {
    .extrasArea {
        width: 100%;
    }
}



.imageDivStyle {
    width: 100%;
    background-color: transparent;
    height: 20rem;
    border-radius: 15px;
    box-shadow: 0 0 5px rgb(0,0,0,.16);
    -webkit-appearance: none;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .16);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, .16);
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

    .imageDivStyle p {
        font-size: 2rem;
        font-weight: 700;
    }

    .imageDivStyle img {
        position: absolute;
        width: 100%;
        height: 100%;
        block-size: auto;
        object-fit: scale-down;
    }




input.selectPhoto {
    width: 95%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 1rem;
    opacity: 0;
    cursor: pointer;
}


.stepOneBtns {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

    .stepOneBtns a {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--orange);
        width: 10rem;
        height: 2.5rem;
        border-radius: 5px;
        color: white;
        font-weight: 600;
        text-decoration: none;
        padding-bottom: 0.2rem;
        transition: background-color 250ms;
    }

        .stepOneBtns a:hover {
            background-color: #cf5305;
        }

.stepOneStyle {
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(0,0,0,.16);
    -webkit-appearance: none;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .16);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, .16);
    background-color: white;
    position: relative;
    z-index: 2;
    margin-top: -0.2rem;
}

.stepOneForm {
    padding: 2rem;
}

    .stepOneForm input {
        box-shadow: 0 0 5px rgb(0,0,0,.16);
        -webkit-appearance: none;
        -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .16);
        -moz-box-shadow: 0 0 5px rgba(0, 0, 0, .16);
        width: 100%;
        font-size: 0.8rem;
    }

    .stepOneForm ._Form_Inputs {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

        .stepOneForm ._Form_Inputs label {
            color: var(--orange);
        }

        .stepOneForm ._Form_Inputs > div {
            width: calc((100% / 6) - -1.5rem);
        }

.numberReser {
    padding: 0 1rem 0 2rem !important;
}

.stepOneNumber {
    position: absolute;
    top: 0;
    left: 0.5rem;
    bottom: 0;
    color: var(--orange);
    display: flex;
    align-items: center;
    margin: auto;
}

.stepOneForm ._Add_Return {
    box-shadow: 0 0 5px rgb(0,0,0,.16);
    -webkit-appearance: none;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .16);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, .16);
}

.stepOneSubmit {
    width: 100%;
    max-width: 14rem;
    height: 2.7rem;
    border: none;
    outline: none;
    background-color: var(--orange);
    color: white;
    font-size: 1.2rem;
    border-radius: 5px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.stepOneBtns .stepOneSubmit:hover {
    background-color: #cf5305;
}


._user_btns {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

    ._user_btns div {
        border: 1px solid rgba(0, 0, 0, 0.367);
        width: 2rem;
        height: calc(2.5rem / 2);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

        ._user_btns div:first-child {
            border-top-right-radius: 10px;
        }

        ._user_btns div:last-child {
            border-bottom-right-radius: 10px;
        }

        ._user_btns div:hover {
            background-color: rgba(128, 128, 128, 0.209);
        }



@media only screen and (max-width: 1200px) {
    .stepOneForm ._Form_Inputs > div {
        width: calc((100% / 6) - -1rem);
    }
}

@media only screen and (max-width: 992px) {
    .stepOneForm ._Form_Inputs > div {
        width: 100%;
    }
}


.pageServices {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

    .pageServices .pageServiceItem {
        width: 100%;
        padding: 1.2rem 1rem 1rem 1rem;
        height: auto;
        box-shadow: 0 0 5px rgb(0, 0, 0, .2);
        border-radius: .5rem;
    }

.pageServiceItem h3 {
    color: white;
    background-color: var(--orange);
    display: inline;
    padding: .5rem 1rem;
    margin: 0;
    font-size: 1.5rem;
    border-radius: .5rem;
}

.pageServiceDownItems {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}


.pageServiceDownItems {
    margin-top: 1rem;
    padding: .5rem;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.pageServiceDownItem .pageServiceDownItemTop {
    box-shadow: 0 0 5px rgb(0, 0, 0, .2);
    padding: .5rem 1rem;
    border-radius: .5rem;
}

.checkServiceDiv {
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    align-items: flex-start;
    padding-top: .8rem;
}

.passengerInputs {
    box-shadow: 0 0 5px rgb(0,0,0,.16);
    border-radius: 5px;
    padding: 0;
    width: 3rem;
    text-align: center;
}

.formTextarea {
    width: 100%;
    margin: 1rem 0px;
    border-radius: 0.5rem;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 5px;
    min-height: 100px;
}

.pageServiceDownItemTop > .pageServiceDownItemTopFlex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

    .pageServiceDownItemTop p {
        font-size: 1.1rem;
        font-weight: 600;
        margin: 0;
    }

    .pageServiceDownItemTop .pageServicePrice p {
        font-size: 1.5rem;
        font-weight: 700;
    }

.pageServicePrice {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.pageServiceAngle {
    background-color: white;
    border: none;
    outline: none;
    color: black;
    font-size: 1rem;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
    transform: rotateZ(0);
    transition: transform 250ms;
}

    .pageServiceAngle.active {
        transform: rotateZ(90deg);
    }


.Form_Flex_Style_Button {
    margin: 1rem 0 0 0.5rem;
    width: max-content;
    font-size: 0.9rem;
    height: 2.6rem;
    border-radius: 12px;
    border: none;
    outline: none;
    background-color: var(--orange);
    color: white;
    font-size: 1rem;
    display: flex;
    align-items: center;
    padding: 0 1rem;
}