@{
    Layout = "_PanelLayout";
}

@section pageCSSLink{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-jcrop/0.9.15/css/jquery.Jcrop.min.css" integrity="sha512-bbAsdySYlqC/kxg7Id5vEUVWy3nOfYKzVHCKDFgiT+GsHG/3MD7ywtJnJNSgw++HBc+w4j71MLiaeVm1XY5KDQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

}

@section pageCSS{
    <style>
        label.error {
            left: 0.3rem;
        }
    </style>
}


<form id="addDriverForm">
    <div class="row">

        <div class="col-md-4 mb-3 _Pos_Rel">
            <div class="form-group position-relative error-l-50">
                <label>Driver ID</label>
                <input type="text" class="form-control" placeholder="Driver ID" name="DriverId" required="">
            </div>
        </div>
        <div class="col-md-4 mb-3 _Pos_Rel">
            <div class="form-group position-relative error-l-50">
                <label>Name</label>
                <input type="text" class="form-control" placeholder="Name" name="Name" required="">
            </div>
        </div>
        <div class="col-md-4 mb-3 _Pos_Rel">
            <div class="form-group position-relative error-l-50">
                <label>Surname</label>
                <input type="text" class="form-control" placeholder="Surname" name="Surname" required="">
            </div>
        </div>
        <div class="col-md-4 mb-3 _Pos_Rel">
            <div class="form-group position-relative error-l-50">
                <label>Email</label>
                <input type="text" class="form-control" placeholder="Email" name="Email" required="">
            </div>
        </div>
        <div class="col-md-4 mb-3 _Pos_Rel">
            <div class="form-group position-relative error-l-50">
                <label>Password</label>
                <input type="password" class="form-control" placeholder="Password" name="Password" required="">
            </div>
        </div>

        <div class="col-md-4 mb-3 _Pos_Rel">
            <div class="form-group position-relative error-l-50">
                <label>Phone</label>
                <input type="text" class="form-control" placeholder="Phone" name="Phone" required="">
            </div>
        </div>

        <div class="col-md-12 mb-3 _Pos_Rel">
            <div class="form-group position-relative error-l-50">
                <label>Date Of Birth</label>
                <input type="date" class="form-control" name="DateOfBirth" required="">
            </div>
        </div>

        <div class="col-md-6 mb_3 _Pos_Rel">
            <label>Front Photo</label>
            <div class="imageDivStyle">
                <p>Drag</p>
                <img id="frontPhoto" alt="" border="0"/>
                <input id="selectFrontPhoto" class="selectPhoto" type="file" />
            </div>
        </div>


        <div class="col-md-6 mb_3 _Pos_Rel">
            <label>Back Photo</label>
            <div class="imageDivStyle">
                <p>Drag</p>
                <img id="backPhoto" alt="" border="0" />
                <input id="selectBackPhoto" class="selectPhoto" type="file" />
            </div>

        </div>

        <div class="col-md-12 _Pos_Rel">
            <div class="custom-control custom-checkbox mb-2">
                <input type="checkbox" class="custom-control-input" id="bookingCheckbox" name="Booking" value="true">
                <label class="custom-control-label" for="bookingCheckbox">
                    Show all bookings
                </label>
            </div>
        </div>

        <div class="col-md-12 _Pos_Rel">
            <div class="custom-control custom-checkbox mb-2">
                <input type="checkbox" class="custom-control-input" id="financialCheckbox" name="Financial" value="true">
                <label class="custom-control-label" for="financialCheckbox">
                    Show financial info
                </label>
            </div>
        </div>


        <div class="col-md-12">
            <div class="text-right">
                <button class="btn btn-secondary" type="submit">
                    Create Driver
                </button>
            </div>
        </div>
    </div>
</form>



<div class="modal fade" id="photoCropModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width:550px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Photo Crop</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="result">
                    <img id="targetimg" class="targetimg" height="300" width="500" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                        data-dismiss="modal">
                    Close
                </button>
                <button type="button" id="getBase64" class="btn btn-primary">Crop</button>
            </div>
        </div>
    </div>
</div>

@section pageJsScript{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-jcrop/0.9.15/js/jquery.Jcrop.min.js" integrity="sha512-KKpgpD20ujD3yJ5gIJqfesYNuisuxguvTMcIrSnqGQP767QNHjEP+2s1WONIQ7j6zkdzGD4zgBHUwYmro5vMAw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
}

@section pageJs{
    <script>


        $('#addDriverForm').on("submit", function (e) {
            e.preventDefault();

            if ($(this).valid()) {
                var formData = {
                    Name: $(this).find("input[name='Name']").val(),
                    Email: $(this).find("input[name='Email']").val(),
                    Password: $(this).find("input[name='Password']").val(),
                    Phone: $(this).find("input[name='Phone']").val(),
                    Surname: $(this).find("input[name='Surname']").val(),
                    DateOfBirth: $(this).find("input[name='DateOfBirth']").val(),
                    PhotoFront: photoFront,
                    PhotoBack: photoBack,
                    Financial: $(this).find("input[name='Financial']").is(":checked"),
                    Booking: $(this).find("input[name='Booking']").is(":checked"),
                    DriverId: $(this).find("input[name='DriverId']").val(),

                };

                $.ajax({
                    url: '@Url.Action(nameof(Airport.UI.Controllers.DriversController.AddDriver))',
                    type: "POST",
                    data: formData,
                    success: function (response) {
                        if (response.result == 1) {
                            Swal.fire({
                                icon: 'success',
                                title: 'Success',
                                text: 'Successfully Add Driver',
                            }).then(() => {
                                location.href = "/panel/my-drivers";
                            })
                        }
                    }
                });
            }

        })


        var jscrop_api;

        $('#selectPhoto').on('click', function () {
            $(this).val(null);
        })

        var photoType = 0;

        var size;
        var selectedImg;
        var jcrop_api;
        $('#selectFrontPhoto').on('change', function () {
            if (this.files && this.files[0]) {
                if (this.files[0].type.match(/^image\//)) {
                    var reader = new FileReader();
                    selectedImg = $(this)
                    reader.onload = function (evt) {

                        if (jcrop_api != undefined) {
                            jcrop_api.destroy()
                        }

                        $('#targetimg').attr("src", evt.target.result);

                        $('#targetimg').Jcrop({
                            bgColor: 'white',
                            bgOpacity: .6,
                            setSelect: [0, 0, 50, 50],
                            aspectRatio: 2,
                            drawImage: false,
                            allowSelect: false,
                        }, function () {
                            jcrop_api = this;
                        })
                    };
                    photoType = 0;
                    reader.readAsDataURL(this.files[0]);

                    $('#photoCropModal').modal();

                    const fileName = this.files[0].name;
                    this.textContent = fileName;

                }
            }
        });

        $('#selectBackPhoto').on('change', function () {
            if (this.files && this.files[0]) {
                if (this.files[0].type.match(/^image\//)) {
                    var reader = new FileReader();
                    selectedImg = $(this)
                    reader.onload = function (evt) {

                        if (jcrop_api != undefined) {
                            jcrop_api.destroy()
                        }

                        $('#targetimg').attr("src", evt.target.result);

                        $('#targetimg').Jcrop({
                            bgColor: 'white',
                            bgOpacity: .6,
                            setSelect: [0, 0, 50, 50],
                            aspectRatio: 2,
                            drawImage: false,
                            allowSelect: false,
                        }, function () {
                            jcrop_api = this;
                        })
                    };
                    photoType = 1;
                    reader.readAsDataURL(this.files[0]);

                    $('#photoCropModal').modal();

                    const fileName = this.files[0].name;
                    this.textContent = fileName;

                }
            }
        });

        var photoFront = null;
        var photoBack = null;

        const canvas = document.createElement("canvas");

        const context = canvas.getContext("2d");

        $('#getBase64').on("click", function () {
            const base64String = $("#targetimg").attr('src');

            const img = new Image();
            img.src = base64String;
            var imgSizeWidth = img.width / 500;
            var imgSizeHeight = img.height / 300;

            img.style.objectFit = "contain";
            const canvas = document.createElement("canvas");
            canvas.width = 500;
            canvas.height = 300;

            const context = canvas.getContext("2d");

            img.onload = function () {
                const croppedWidth = jcrop_api.tellSelect().w * imgSizeWidth;
                const croppedHeight = jcrop_api.tellSelect().h * imgSizeHeight;

                const croppedX = jcrop_api.tellSelect().x * imgSizeWidth;
                const croppedY = jcrop_api.tellSelect().y * imgSizeHeight;

                context.drawImage(img, croppedX, croppedY, croppedWidth, croppedHeight, 0, 0, 500, 300);

                const croppedBase64String = canvas.toDataURL("image/png");

                if (photoType == 0) {
                    $('#frontPhoto').attr("src", croppedBase64String)
                    photoFront = croppedBase64String;

                } else {
                    $('#backPhoto').attr("src", croppedBase64String)
                    photoBack = croppedBase64String;
                }


                $('#photoCropModal').modal('hide');
            };
        })





    </script>
}



