@{
    Layout = "_PanelLayout";
    ViewData["title"] = "Drivers";
}

@model List<Drivers>
<div class="d-flex justify-content-end mb-3">
    <a href="/panel/add-driver" class="btn" style="
    background: #EC681E;
    color: white;">
        Add Drivers
    </a>
</div>


<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 mb-3">
            <a href="/panel/update-driver/@item.Id" class="serviceItems" data-value="@item.Id">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <p class="list-item-heading mb-0 pt-1">@item.Name @item.Surname</p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    }
</div>

