@model UserDatas

<div class="_Profile_Left">
    <div class="_Profile_Items_Flex">
        <div class="_Profile_Item">
            <div>
                <img src="~/img/car3.png" alt="">
            </div>
            <div class="pt-2">
                <p>
                    @Model.Name
                </p>
            </div>
        </div>
        <div class="_Profile_Item">
            <a href="/profile">
                <i class="fa-solid fa-user-vneck"></i><span>Your Profile</span>
            </a>
        </div>
        @if (Model.Type == 2)
        {
            <div class="_Profile_Item">
                <a href="/profile/my-company">
                    <i class="fa-solid fa-house"></i> <span>Your Company</span>
                </a>
            </div>
        }

        <div class="_Profile_Item">
            <a href="/profile/change-password">
                <i class="fa-solid fa-lock-keyhole"></i><span>Change Password</span>
            </a>
        </div>
        <div class="_Profile_Item">
            <a href="/profile/bank-account">
                <i class="fa-solid fa-wallet"></i><span>Bank Accounts</span>
            </a>
        </div>
        <div class="_Profile_Item">
            <a href="/profile/agreements">
                <i class="fa-regular fa-handshake"></i><span>Agreements</span>
            </a>
        </div>
        <div class="_Profile_Item">
            <a href="/profile/settings">
                <i class="fa-solid fa-gear"></i><span>Settings</span>
            </a>
        </div>
        <div class="_Profile_Item _Logout_Btn">
            <a href="/logout" class="_Logout_Btn">
                Log Out
            </a>
        </div>
    </div>
</div>