@{
    Layout = "_PanelLayout";
}

<div class="d-flex justify-content-end">
    <a href="/panel/addservice" class="btn" style="
    background: #EC681E;
    color: white;">
        Add Service
    </a>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <a href="Pages.Product.Detail.html">
                            <p class="list-item-heading mb-4 pt-1">Cheesecake</p>
                        </a>
                        <footer>
                            <p class="text-muted text-small mb-0 font-weight-light">18.08.2018</p>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
