@{
    Layout = "_PanelLayout";
}
@model List<Services>

<div class="d-flex justify-content-end">
    <a href="/panel/add-service" class="btn" style="
    background: #EC681E;
    color: white;">
        Add Service
    </a>
</div>

<div class="panel_sevice_flex">
    @foreach (var item in Model)
    {
        <div class="panel_sevice_item">
            <a href="/panel/update-service/@item.Id" class="serviceItems" data-value="@item.Id">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <p class="list-item-heading mb-0 pt-1">@item.ServiceName</p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    }
</div>


@*
@section pageJs{
    <script>
        $('.serviceItems').on("click",function(){
            var serviceId = $(this).attr("data-value")

            $.ajax({
                url: '@Url.Action(nameof(Airport.UI.Controllers.ServiceController.UpdateServicePage))',
                type: "POST",
                data: { id: serviceId },
                success: function (response) {
                    location.href = "/panel/updateservice";
                }
            });
        })
    </script>
}*@