@{
    Layout = "_PanelLayout";
}

@model ServiceManagementVM

@section pageCSSLink{
    <link href="//cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
}

@section pageCss{
    <style>
        servicesTable {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

        .serviceItem {
            width: 100%;
            box-shadow: 0 0 5px rgb(0, 0, 0, 0.2);
            border-radius: 0.5rem;
        }

        .serviceTopContent {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .serviceTopContentLeft {
            padding: 1rem;
            cursor: pointer;
            width: 89%;
        }

            .serviceTopContentLeft p {
                margin: 0;
                padding-left: 0.5rem;
            }

        .serviceBottom {
            display: none;
            margin-top: 0rem;
            transition: margin-top 100ms;
        }

            .serviceBottom.active {
                margin: 0.25rem !important;
            }

            .serviceBottom ul {
                padding: 0 0.5rem 0 1.5rem;
                border-radius: 0 0 0.5rem 0.5rem;
                border-top: 1px solid rgb(0,0,0,.3);
                margin: 0;
            }

            .serviceBottom li {
                /* border-top: 1px solid rgb(0, 0, 0, 0.2); */
                padding: 0.5rem;
            }

                .serviceBottom li:not(.serviceBottom li:last-child) {
                    border-bottom: 1px solid rgb(0, 0, 0, 0.2);
                }

        .serviceBtns {
            display: flex;
            gap: 0.5rem;
            justify-content: end;
        }

        .angleBtn {
            cursor: default;
            border: none;
            outline: none;
            color: black !important;
            margin-left: 1rem;
            margin-right: 1rem;
            transform: rotateZ(0deg);
            transition: transform 100ms;
        }

            .angleBtn.active {
                transform: rotateZ(90deg);
            }

        .serviceItem button {
            font-size: 13px;
        }

        .serviceBottom .row {
            align-items: center;
        }

        .serviceBottom p {
            margin: 0;
        }

        .serviceAttrItem {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        @@media (max-width: 1400px) {
            .serviceTopContentLeft {
                width: 89%;
            }
        }

        @@media (max-width: 1200px) {
            .serviceTopContentLeft {
                width: 84.5%;
            }
        }

        @@media (max-width: 992px) {
            .serviceTopContentLeft {
                width: 80%;
            }
        }

        @@media (max-width: 768px) {
            .serviceTopContentLeft {
                width: 72.8%;
            }
        }

        @@media (max-width: 576px) {
            .serviceTopContentLeft {
                width: 70.1%;
            }
        }

        label.error {
            left: 0.3rem;
        }
    </style>
}


<section class="my-5">
    <div class="text-right">
        <button class="btn btn-secondary mb-3" type="button" data-toggle="modal" data-target="#addServiceCategoryModal">
            Add Service Category
        </button>
    </div>
    <div class="servicesTable">
        @foreach (var item in Model.ServiceCategories)
        {
            <div class="serviceItem mb-3" data-id="@item.Id">
                <div class="serviceTop">
                    <div class="serviceTopContent">
                        <div class="serviceTopContentLeft">
                            <b>
                                @item.ServiceCategoryName
                            </b>
                        </div>
                        <div class="">
                            <div class="serviceBtns">
                                <button type="button" class="addService btn btn-secondary" title="Add Category">
                                    <i class="fa-sharp fa-solid fa-plus"></i>
                                </button>
                                <button type="button" class="updateServiceCategory btn btn-warning" title="Update Category">
                                    <i class="fa-solid fa-pen"></i>
                                </button>
                                <button type="button" class="removeServiceList btn btn-danger" title="Delete Category">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                                <button class="angleBtn" disabled>
                                    <i class="fa-solid fa-angle-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="serviceBottom">
                    <ul>
                        @foreach (var item2 in item.ServiceProperties)
                        {
                            <li class="serviceAttrItem">
                                <div>
                                    <p>
                                        @item2.ServicePropertyName
                                    </p>
                                </div>
                                <div>
                                    <div class="serviceBtns" data-id="@item2.Id">
                                        <button type="button" class="updateServiceProp btn btn-warning" title="Update Property">
                                            <i class="fa-solid fa-pen"></i>
                                        </button>
                                        <button type="button" class="removeServiceProp btn btn-danger" title="Delete Property">
                                            <i class="fa-solid fa-trash"></i>
                                        </button>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        }
    </div>
</section>

<div class="modal fade" id="addServiceCategoryModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Service Category</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="addServiceCategoryForm">
                    <div class="form-group position-relative error-l-50 _Pos_Rel">
                        <label>Service List Name</label>
                        <input type="text" class="form-control" name="categoryName" placeholder="Enter Your Service Category Name">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                        data-dismiss="modal">
                    Close
                </button>
                <button type="button" class="btn btn-primary" id="addServiceCategory">Add</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="updateServiceCategoryModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update Service Category</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="updateServiceCategoryForm">
                    <div class="form-group position-relative error-l-50 _Pos_Rel">
                        <label>Service List Name</label>
                        <input type="text" class="form-control" id="categoryName" name="categoryName" placeholder="Enter Your Service Category Name">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                        data-dismiss="modal">
                    Close
                </button>
                <button type="button" class="btn btn-primary" onclick="$('#updateServiceCategoryForm').submit()" id="updateServiceCategory">Update</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="updateServicePropertyModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update Service Category</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="updateServicePropertyForm">
                    <div class="form-group position-relative error-l-50">
                        <label>Service Property Name</label>
                        <input type="text" class="form-control" name="ServicePropertyName" placeholder="Enter Your Service Property Name">
                    </div>
                    <div class="form-group position-relative error-l-50">
                        <label>Service Property Description</label>
                        <div id="updateDestriptionQuil" style="height:250px;"></div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Close
                </button>
                <button type="button" class="btn btn-primary" id="updateServiceProperty">Update</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addServicePropertyModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Service Category</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="addServicePropertyForm">
                    <div class="form-group position-relative error-l-50">
                        <label>Service Property Name</label>
                        <input type="text" class="form-control" name="PropertyName" placeholder="Enter Your Service Property Name">
                    </div>
                    <div class="form-group position-relative error-l-50">
                        <label>Service Property Description</label>
                        <div id="destriptionQuil" style="height:250px;"></div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                        data-dismiss="modal">
                    Close
                </button>
                <button type="button" class="btn btn-primary" id="addServiceProperty">Add</button>
            </div>
        </div>
    </div>
</div>

@section pageJsScript{
    <script src="//cdn.quilljs.com/1.3.6/quill.min.js"></script>
}

@section pageJs{
    <script>
        let categoryId = 0;
        let propId = 0;

        $('.updateServiceCategory').on("click",function(){
            $('.formLoader').removeClass("deActive")
            categoryId = $(this).closest(".serviceItem").attr("data-id");
            $.ajax({
                url: '/Service/GetServiceCategory',
                type: "POST",
                data: { id: categoryId },
                success: function (response) {
                    if (response.result == 1) {
                        $('#updateServiceCategoryModal input[name="categoryName"]').val(response.data.serviceCategoryName);
                        $('#updateServiceCategoryModal').modal();
                    }
                    $('.formLoader').addClass("deActive")
                }
            });

        })

        $('#updateServiceCategoryForm').on("submit", function (e) {
            e.preventDefault();
            
            $('.formLoader').removeClass("deActive")
            var formData = $(this).serialize()
            $.ajax({
                url: '/Service/UpdateServiceCategory',
                type: "POST",
                data: formData + "&Id=" + categoryId,
                success: function (response) {
                    if (response.result == 1) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Success',
                            text: 'Successfully Updated Service Category',
                        }).then(() => {
                            location.reload();
                        })

                        $('#updateServiceCategoryModal').modal("hide");
                    }
                    $('.formLoader').addClass("deActive")
                }
            });
        })

        $('.removeServiceProp').on("click", function () {
            propId = $(this).closest(".serviceBtns").attr("data-id");

            Swal.fire({
                title: 'Do You Want To Delete The Property?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes',
                cancelButtonText: 'No'
            }).then((result) => {
                if (result.isConfirmed == true) {
                    $('.formLoader').removeClass("deActive")
                    $.ajax({
                        url: '/Service/DeleteServiceProp',
                        type: "POST",
                        data: { id: propId },
                        success: function (data) {
                            if (data.result == "1") {
                                Swal.fire({
                                    title: 'Success',
                                    html: 'Successfully deleted property',
                                    icon: 'success',
                                    confirmButtonText: 'Okey'
                                }).then(() => {
                                    location.reload();
                                })
                            } else {
                                Swal.fire({
                                    title: 'Error!',
                                    html: 'Something went wrong',
                                    icon: 'error',
                                    confirmButtonText: 'Okey'
                                }).then(() => {
                                    location.reload();
                                })
                            }

                            $('.formLoader').addClass("deActive")
                        }
                    });
                }
            })
        })

        let updateDescription = new Quill("#updateDestriptionQuil", {
            theme: "snow"
        });

        $('#updateServicePropertyForm').on("submit", function (e) {
            e.preventDefault();
            $('.formLoader').removeClass("deActive")
            var formData = $(this).serialize()

            $.ajax({
                url: '/Service/UpdateServiceProperty',
                type: "POST",
                data: formData + "&Id=" + propId + "&ServicePropertyDescription=" + updateDescription.root.innerHTML,
                success: function (response) {
                    if (response.result == 1) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Success',
                            text: 'Successfully Updated Service Property',
                        }).then(() => {
                            location.reload();
                        })

                        $('#updateServicePropertyModal').modal("hide");
                    }
                    $('.formLoader').addClass("deActive")
                }
            });
        })



        $('#updateServiceProperty').on("click", function () {
            $('#updateServicePropertyForm').submit();
        })



        $('.updateServiceProp').on("click", function () {
            $('.formLoader').removeClass("deActive")
            propId = $(this).closest('.serviceBtns').attr("data-id")

            $.ajax({
                url: '/Service/GetServiceProperty',
                type: "POST",
                data: { id: propId },
                success: function (response) {
                    if (response.result == 1) {
                        $('#updateServicePropertyModal input[name="ServicePropertyName"]').val(response.data.servicePropertyName);
                        updateDescription.setContents(updateDescription.clipboard.convert(response.data.servicePropertyDescription));
                        $('#updateServicePropertyModal').modal();
                    }
                    $('.formLoader').addClass("deActive")
                }
            });
        })



        $('.addService').on("click", function () {
            categoryId = $(this).closest(".serviceItem").attr("data-id");
            $('#addServicePropertyModal').modal()
        })

        $(".serviceTopContentLeft").on("click", function () {
            $(this).closest(".serviceItem").find(".serviceBottom").slideToggle();
            $(this).closest(".serviceItem").find(".serviceBottom").toggleClass("active");
            $(this).closest(".serviceItem").find(".angleBtn").toggleClass("active");
        })

        let description = new Quill("#destriptionQuil", {
            theme: "snow"
        });


        $('#addServiceProperty').on("click", function () {
            $('#addServicePropertyForm').submit();
        })

        $('#addServiceCategory').on("click", function () {
            $('#addServiceCategoryForm').submit();
        })

        $('#addServicePropertyForm').on("submit", function (e) {
            e.preventDefault();
            if ($('#addServicePropertyForm').valid()) {
                var formData = $(this).serialize() + "&PropertyDescription=" + description.root.innerHTML
                $.ajax({
                    url: '/Service/AddServiceProperty',
                    type: "POST",
                    data: formData + "&ServiceCategoryId=" + categoryId,
                    success: function (response) {
                        if (response.result == 1) {
                            Swal.fire({
                                icon: 'success',
                                title: 'Success',
                                text: 'Successfully Added Service Property',
                            }).then(() => {
                                location.reload();
                            })
                        }
                    }
                });
            }
        })

        $('#addServiceCategoryForm').on("submit", function (e) {
            e.preventDefault();
            if ($('#addServiceCategoryForm').valid()) {
                var formData = $(this).serialize()
                $.ajax({
                    url: '/Service/AddServiceCategory',
                    type: "POST",
                    data: formData,
                    success: function (response) {
                        if (response.result == 1) {
                            Swal.fire({
                                icon: 'success',
                                title: 'Success',
                                text: 'Successfully Added Service Category',
                            }).then(() => {
                                location.reload();
                            })
                        }
                    }
                });
            }

        })

        $('.removeServiceList').on("click", function () {
            categoryId = $(this).closest(".serviceItem").attr("data-id");

            Swal.fire({
                title: 'Do You Want To Delete The Category?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes',
                cancelButtonText: 'No'
            }).then((result) => {
                if (result.isConfirmed == true) {
                    $('.formLoader').removeClass("deActive")
                    $.ajax({
                        url: '/Service/DeleteService',
                        type: "POST",
                        data: { id: categoryId },
                        success: function (data) {
                            if (data.result == "1") {
                                Swal.fire({
                                    title: 'Success',
                                    html: 'Successfully deleted category',
                                    icon: 'success',
                                    confirmButtonText: 'Okey'
                                }).then(() => {
                                    location.reload();
                                })
                            } else {
                                Swal.fire({
                                    title: 'Error!',
                                    html: 'Something went wrong',
                                    icon: 'error',
                                    confirmButtonText: 'Okey'
                                }).then(() => {
                                    location.reload();
                                })
                            }
                            $('.formLoader').addClass("deActive")
                        }
                    });
                }
            })
        })


    </script>
}