<section class="_Module_Margin">
    <div class="container">
        <div class="_Profile_Flex">

            @await Component.InvokeAsync("ProfileSidebar")

            <div class="_Profile_Right">
                <div>
                    <h2 class="_Simple_Orange_Title">
                        Agreements
                    </h2>
                    <div class="_Simple_Div">
                        <p class="_Simple_P">
                            View your agreements
                        </p>
                    </div>
                    <div class="_Agreements_Flex">
                        <div class="_Agreements_Item">
                            <div>
                                <span>TERMS AND CONDITIONS FOR TRANSPORT COMPANIES</span>
                            </div>
                            <div class="_Agreements_State _Ok">
                                APPROVED
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
