<section class="_Module_Margin">
    <div class="container">
        <div class="_Profile_Flex">

            @await Component.InvokeAsync("ProfileSidebar")

            <div class="_Profile_Right">
                <div>
                    <h2 class="_Simple_Orange_Title">
                        Change Password
                    </h2>
                    <div class="_Simple_Div">
                        <p class="_Simple_P">
                            Details about your profile information
                        </p>
                    </div>
                    <div>
                        <form id="_Profile_Form">
                            <div class="_Form_Flex_Style">
                                <div class="_Form_Div _Two">
                                    <label class="_Form_Label">Current Password</label>
                                    <input type="text" name="Current_Password">
                                </div>
                                <div class="_Form_Div _Two">
                                    <label class="_Form_Label">New Password</label>
                                    <input type="text" name="New_Password">
                                </div>
                                <div class="_Form_Div _Two">
                                    <button class="_Form_Button">
                                        Update
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
