@{
    ViewData["title"] = "Change Password";
}
<section class="_Module_Margin">
    <div class="container">
        <div class="_Profile_Flex">

            @await Component.InvokeAsync("ProfileSidebar")

            <div class="_Profile_Right">
                <div>
                    <h2 class="_Simple_Orange_Title">
                        Change Password
                    </h2>
                    <div class="_Simple_Div">
                        <p class="_Simple_P">
                            Details about your profile information
                        </p>
                    </div>
                    <div>
                        <form id="_Profile_Form" asp-route="changePassword">
                            <div class="_Form_Flex_Style">
                                <div class="_Form_Div _Two">
                                    <label class="_Form_Label">Current Password</label>
                                    <input type="text" name="oldPassword">
                                </div>
                                <div class="_Form_Div _Two">
                                    <label class="_Form_Label">New Password</label>
                                    <input type="text" name="newPassword">
                                </div>
                                <div class="_Form_Div _Two">
                                    <button class="_Form_Button" type="submit">
                                        Update
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section pageJs{
    @if (ViewBag.Message != null)
    {
        <script>
            @if(ViewBag.Message == "success")
            {
                <text>
            Swal.fire({
                icon: 'success',
                title: 'Succesful',
                text: 'Successfully changed your password',
            })
                </text>
            }
            else if(ViewBag.Message == "wrongPass")
            {
                                <text>
            Swal.fire({
                icon: 'warning',
                title: 'Warning',
                text: 'Your password does not match',
            })
                </text>
            }
            else
            {
                <text>
                    Swal.fire({
                    icon: 'error',
                    title: 'Error!!',
                    text: 'Something went wrong!! Try again ',
                    })
                </text> 
            }

        </script>
    }
}


