
<section class="_Module_Margin">
    <div class="container">
        <div class="_Profile_Flex">

            @await Component.InvokeAsync("ProfileSidebar")

            <div class="_Profile_Right">
                <div>
                    <h2 class="_Simple_Orange_Title">
                        Your Company
                    </h2>
                    <div class="_Simple_Div">
                        <p class="_Simple_P">
                            Details about your company information
                        </p>
                    </div>
                    <div>
                        <form id="_Profile_Form">
                            <div class="_Form_Flex_Style">
                                <div class="_Form_Div _Two _Info">
                                    <label class="_Form_Label">Company Name</label>
                                    <input type="text" name="Company_Name">
                                    <span>Please contact us if you’d like to change your company name.</span>
                                </div>
                                <div class="_Form_Div _Two _Info">
                                    <label class="_Form_Label">Company Email</label>
                                    <input type="text" name="Company_Email">
                                    <span>Please contact us if you’d like to change your e-mail.</span>
                                </div>
                                <div class="_Form_Div">
                                    <label class="_Form_Label">Phone Number</label>
                                    <input type="text" name="Phone_Number">
                                </div>
                                <div class="_Form_Div">
                                    <label class="_Form_Label">Country</label>
                                    <input type="text" name="Country">
                                </div>
                                <div class="_Form_Div _Two">
                                    <label class="_Form_Label">Address</label>
                                    <input type="text" name="Address">
                                </div>
                                <div class="_Form_Div _Two">
                                    <label class="_Form_Label">Website</label>
                                    <input type="text" name="Website">
                                </div>
                                <div class="_Form_Div">
                                    <label class="_Form_Label">Linkedin</label>
                                    <input type="text" name="Linkedin">
                                </div>
                                <div class="_Form_Div">
                                    <label class="_Form_Label">Facebook</label>
                                    <input type="text" name="Facebook">
                                </div>
                                <div class="_Form_Div _Two">
                                    <label class="_Form_Label">About Us</label>
                                    <label class="_Down_Label">Write a few sentences about the company and what it’s like to work there</label>
                                    <textarea></textarea>
                                </div>
                                <div class="_Form_Div _Two">
                                    <button class="_Form_Button">
                                        Save
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
