@font-face {
    font-family: "gothic";
    src: url(~/font/GOTHIC.TTF);
}

* {
    font-family: "gothic";
}

._Module_Margin {
    margin: 5rem auto;
}

.logo-mobile {
    background: url(/img/airglobal-icon-black.png) no-repeat !important;
    background-size: contain !important;
}

.logo {
    background: url(/images/Logo.png) no-repeat !important;
    background-size: contain !important;
}

.siteLogo {
    width: 185px !important;
    height: 50px !important;
}

._Nav_Flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.navbar .user img {
    height: 40px !important;
    width: 40px !important;
}

html,
body {
    overflow-x: hidden;
}

:root {
    --nav-gap: 1rem;
    --orange: #ff6709;
}

._Pos_Rel {
    position: relative;
}

._Banner_Form ._Pos_Rel {
    position: relative;
    border-radius: 0.6rem;
    overflow: hidden;
}

._Logo {
    width: calc(25% - var(--nav-gap));
}

    ._Logo img {
        width: 100%;
    }

._Nav_Content {
    width: calc(75% - var(--nav-gap));
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    position: relative;
}

._Nav_List {
    width: calc(50% - var(--nav-gap));
}

._Auth {
    width: calc(50% - var(--nav-gap));
}

nav {
    padding: 1.5rem 0;
    border-bottom: 1px solid black;
}

    nav a {
        color: var(--orange);
        text-decoration: none;
    }

._Nav_List ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

._Auth ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
}

    ._Auth ul._Btns > li {
        border: 2px solid var(--orange);
        padding: 0.6rem 0;
    }

        ._Auth ul._Btns > li:first-child {
            border-radius: 12px 0 0 12px;
            border-right: none;
        }

        ._Auth ul._Btns > li:last-child {
            border-radius: 0 12px 12px 0;
            border-left: none;
        }

        ._Auth ul._Btns > li > a {
            border: 0px solid;
            padding: 0.8rem 1.2rem;
            font-size: 1.2rem;
            font-weight: 600;
            color: var(--orange);
            transition: border-radius 250ms;
        }

label.error {
    color: red !important;
    font-size: 13px !important;
    position: absolute;
    left: 1.1rem;
    bottom: -1.55rem;
}

._Register {
    border-radius: 12px 0 0 12px;
}

.Sign_In {
    border-radius: 0 12px 12px 0;
}

._Auth ul._Btns > li._Active {
    border-right: none;
    position: relative;
}

    ._Auth ul._Btns > li._Active > a {
        background-color: var(--orange);
        border-radius: 10px;
        overflow: hidden;
        color: white;
    }

._Form_Inputs_Div > div:last-child {
    justify-content: flex-end;
}

._Sing_Form_Main {
    border: 1px solid #707070;
    width: 20rem;
    height: max-content;
    position: absolute;
    top: 4rem;
    right: 0;
    background-color: white;
    padding: 1rem;
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.16);
    border-radius: 15px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 250ms, visibility 250ms;
}

    ._Sing_Form_Main._Active {
        opacity: 1;
        visibility: visible;
    }

    ._Sing_Form_Main h4 {
        color: var(--orange);
        font-size: 35px;
        font-weight: 400;
    }

    ._Sing_Form_Main p {
        color: #000000;
        font-size: 12px;
        font-weight: 400;
    }

    ._Sing_Form_Main ._Form_Input_Div label {
        color: #000000;
        font-size: 1.5rem;
        font-weight: 400;
    }

    ._Sing_Form_Main input:not([type="checkbox"]) {
        border-radius: 7px;
        outline: none;
        width: 100%;
        height: 2.2rem;
        font-size: 0.9rem;
        padding: 0 0.3rem;
        border: 1px solid #a2a2a2;
        filter: drop-shadow(0 3px 6px rgb(0, 0, 0, 0.16));
    }

._Sing_Form_Flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1rem;
}

    ._Sing_Form_Flex > div {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

._Check_Div {
    display: flex;
    align-items: center;
    gap: 0.1rem;
}

    ._Check_Div label {
        color: #000000;
        font-size: 0.8rem;
        font-weight: 400;
    }

._Form_Inputs_Div {
    flex-direction: row !important;
    height: 2rem;
}

    ._Form_Inputs_Div > div {
        width: 50%;
        display: flex;
        align-items: center;
    }

._Sing_Form_Main button {
    border: none;
    background-color: var(--orange);
    color: white;
    font-size: 30px;
    font-weight: 500;
    border-radius: 12px;
    padding: 0.1rem;
    width: 80%;
    margin: auto;
    transition: background-color 250ms;
}

    ._Sing_Form_Main button:hover {
        background-color: #e75e09;
    }

._Form_Submit_Div a {
    font-size: 10px;
    text-align: center;
    text-decoration: revert;
    margin-top: 0.4rem;
}

.header-burger,
._Mobile_Logo {
    display: none;
}

@media only screen and (max-width: 768px) {
    ._Logo {
        width: 40%;
    }

    ._Sing_Form_Main {
        position: relative;
        width: 95%;
        margin: auto;
        top: 1rem;
        right: auto;
        overflow: hidden;
    }

        ._Sing_Form_Main:not(._Active) {
            height: 0;
            padding: 0;
        }

    ._Auth,
    ._Nav_List {
        width: 100%;
    }

    ._Mobile_Logo {
        display: block;
    }

    li._Mobile_Logo img {
        width: 100%;
    }

    ._Nav_Content {
        position: absolute;
        top: 0;
        /* z-index: 9; */
        box-shadow: 0 0 5px rgb(0, 0, 0, 0.16);
        background: white;
        width: 100%;
        left: -105%;
        min-height: 100vh;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        padding: 1rem 0;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        padding: 7rem 0 3rem 0;
        transition: left 250ms;
    }

        ._Nav_Content._Active {
            left: 0%;
        }

    ._Nav_List ul {
        flex-direction: column;
    }

    ._Auth ul {
        justify-content: center;
    }

    .header-burger {
        display: flex;
        position: relative;
        width: auto;
        height: 100%;
        max-width: 70%;
        justify-content: flex-end;
    }

    .menuToggle {
        display: flex;
        position: relative;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
        flex-direction: column;
        justify-content: center;
    }

        .menuToggle a {
            text-decoration: none;
            color: #232323;
            transition: color 0.3s ease;
        }

            .menuToggle a:hover {
                color: tomato;
            }

        .menuToggle input {
            display: flex;
            width: 40px;
            height: 32px;
            position: absolute;
            left: -4px;
            cursor: pointer;
            opacity: 0;
            z-index: 2;
            -webkit-touch-callout: none;
            align-items: center;
            flex-direction: column;
            justify-content: center;
        }

        .menuToggle span {
            display: block;
            width: 33px;
            height: 4px;
            margin-bottom: 5px;
            position: relative;
            background: #000000;
            border-radius: 3px;
            z-index: 1;
            transform-origin: 4px 0px;
            transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
        }

            .menuToggle span:first-child {
                transform-origin: 0% 0%;
            }

            .menuToggle span:nth-last-child(2) {
                transform-origin: 0% 100%;
            }

        .menuToggle input:checked ~ span {
            opacity: 1;
            transform: rotate(45deg) translate(-2px, -18px);
            background: #232323;
        }

            .menuToggle input:checked ~ span:nth-last-child(3) {
                opacity: 0;
                transform: rotate(0deg) scale(0.2, 0.2);
            }

            .menuToggle input:checked ~ span:nth-last-child(2) {
                transform: rotate(-45deg) translate(-1px, 18px);
            }
}

/* Banner */

._Banner_Title {
    font-size: 2.3rem;
    /* padding: 0 15rem; */
    font-weight: bold;
    margin: 2rem 0;
    text-align: center;
}

._Banner_Flex {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
}

    ._Banner_Flex > div {
        width: calc((100% / 2) - 0.5rem);
        height: auto;
    }

._Banner_Form {
    width: 80%;
    height: auto;
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--orange);
    overflow: hidden;
}

._Form_Cat {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

    ._Form_Cat > div {
        width: calc(50% - 0.5rem);
    }

    ._Form_Cat button {
        width: 100%;
        height: 3rem;
        border-radius: 0.6rem;
        background-color: #ffffff;
        border: none;
        outline: none;
        color: var(--orange);
        font-size: 1.25rem;
        font-weight: 400;
        transition: background-color 250ms;
    }

        ._Form_Cat button:hover {
            background-color: #e4e4e4;
        }

._Form_Inputs {
    display: flex;
    flex-direction: column;
    margin-top: 0.75rem;
    gap: 0.75rem;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    color: transparent;
    background: url(~/images/calendar.png) !important;
    background-size: 100% !important;
}

._Form_Inputs input {
    width: 100%;
    height: 3.2rem;
    border-radius: 0.6rem;
    border: none;
    outline: none;
    padding: 1.4rem 1rem 0.3rem 0.5rem;
    font-size: 1.05rem;
}

._Form_Inputs label {
    color: #000000;
    opacity: 0.7;
    font-size: 0.75rem;
    font-weight: 400;
    position: absolute;
    top: 0.3rem;
    left: 0.5rem;
    z-index: 2;
}

._Locaiton_Icon {
    position: absolute;
    z-index: 2;
    bottom: 0.7rem;
    width: 1.7rem;
    left: 0rem;
}

.select2-container {
    width: 100% !important;
}

.select2-container--default .select2-selection--single {
    display: flex;
    align-items: flex-end;
    padding-bottom: 0.5rem;
    padding-left: 1.5rem;
    height: 4rem !important;
    font-size: 1.1rem;
}

    .select2-container--default
    .select2-selection--single
    .select2-selection__arrow {
        top: 0;
        bottom: 0;
        margin: auto;
        right: 5px;
    }

._Add_Return {
    width: 100%;
    height: 3.2rem;
    border-radius: 0.6rem;
    border: none;
    outline: none;
    background-color: white;
    font-size: 1.7rem;
    font-weight: 500;
    color: var(--orange);
    transition: opacity 250ms;
}

    ._Add_Return:hover {
        opacity: 0.95;
    }

._User_Div input {
    padding: 1rem;
    text-align: end;
}

._User {
    color: var(--orange);
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0.5rem;
    margin: auto;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

._Search_Booking {
    width: 100%;
    height: 4.5rem;
    font-size: 2rem;
    font-weight: 600;
    color: var(--orange);
    border-radius: 12px;
    border: none;
    outline: none;
    background-color: white;
    opacity: 1;
    transition: opacity 250ms;
}

    ._Search_Booking:hover {
        opacity: 0.95;
    }

._Banner_Right img {
    width: 100%;
}

._Why_Airport h2 {
    text-align: center;
    font-weight: 600;
    background-color: var(--orange);
    width: max-content;
    margin: auto;
    padding: .7rem 1.3rem;
    color: white;
    border-radius: .75rem;
}

._Why_Module_Flex {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 2rem 0;
}

    ._Why_Module_Flex > div {
        width: calc(50% - .5rem);
        height: 5rem;
        border: 1px solid;
    }














@media only screen and (max-width: 1400px) {
}

@media only screen and (max-width: 1200px) {
    ._Module_Margin {
        margin: 4rem auto;
    }
}

@media only screen and (max-width: 992px) {
    ._Banner_Flex > div {
        width: 100%;
        height: auto;
    }

    ._Banner_Right {
        display: none;
    }

    ._Banner_Form {
        width: 100%;
    }

    ._Module_Margin {
        margin: 3.5rem auto;
    }
}

@media only screen and (max-width: 768px) {
    ._Module_Margin {
        margin: 3rem auto;
    }
}

@media only screen and (max-width: 576px) {
    ._Module_Margin {
        margin: 2.5rem auto;
    }
}

@media only screen and (max-width: 480px) {
    ._Module_Margin {
        margin: 1.5rem auto;
    }
}


