@section pageCss{
    <style>

        .infosList {
            padding: 0;
            list-style: none;
        }

            .infosList li.active p {
                color: white;
                font-size: 1.5rem;
                font-weight: 600;
            }



        p {
            margin: 0;
        }

        .price p {
            font-size: 1.85rem;
            font-weight: 600;
            text-decoration: underline;
        }

        .leftDetail {
            height: 100%;
            background-color: var(--orange);
            border-radius: 10px;
            padding: 1rem;
            color: white !important;
        }

        .rightPhotos {
            height: 300px;
            margin-top: 1rem;
            padding: 1rem;
            background-color: #eeeeee;
            border-radius: 10px;
        }

        .rightMap {
            height: 300px;
            border-radius: 10px;
        }

        li.detail {
            font-size: 0.8rem;
            margin-top: -0.4rem;
            border-bottom: 1px solid #00000033;
            padding-bottom: .5rem;
        }

        ._Btn_Style.btn {
            color: var(--orange);
            background-color: white;
        }

        @@media (max-width: 768px) {
            .md-flex-reverse {
                flex-direction: column-reverse;
            }
        }

        .pay_success_icon {
            width: 3rem;
            height: 3rem;
            /* border: 1px solid; */
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2rem;
        }

            .pay_success_icon.success {
                background-color: #ff670933;
                color: var(--orange);
            }

        .pay_text_title p {
            font-size: 5vmin;
            font-weight: 600;
            margin: 0;
        }

        .pay_text_title.success p {
            color: var(--orange);
        }

        .pay_text_content p {
            font-size: 0.9rem;
        }

        .pay_buttons {
            display: flex;
            gap: 1rem;
        }

            .pay_buttons > div {
                width: 10rem;
                font-size: 0.8rem;
                height: 2.2rem;
            }

            .pay_buttons button {
                width: 100%;
                height: 100%;
                border: 1px solid var(--orange);
                color: var(--orange);
                border-radius: 10px;
            }

            .pay_buttons > div:first-child button {
                background-color: var(--orange);
                color: white;
            }

            .pay_buttons > div:last-child button {
                background-color: transparent;
            }

        .status_modal {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            height: 100vh;
            padding: 0 .5rem;
        }

        .pay_buttons > div:last-child button a {
            color: var(--orange);
            text-decoration: none;
        }

        .order-detail-title {
            margin-top: 2rem;
            font-weight: 600;
        }

        header,footer{
            display:none;
            opacity: 0;
            user-select: none;
        }

    </style>
}

<section>
    <div>
        <div>
            <div class="status_modal">
                <div class="pay_success_icon success">
                    <i class="fa-solid fa-xmark"></i>
                </div>
                <div class="pay_text_title success">
                    <p>
                        Payment Failed
                    </p>
                </div>
                <div class="pay_buttons">
                    <div>
                        <button>
                            <a href="/">Back to Homepage</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>