@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<section class="_Module_Margin">
    <div class="container">
        <div>
            <div class="stepOneBtns">
                <a href="javascript:;">One Way</a>
                <a href="javascript:;">Roundtrip</a>
            </div>
            <div class="stepOneStyle">
                <div>
                    <form class="stepOneForm">
                        <div class="_Form_Inputs">
                            <div class="_Pos_Rel">
                                <label for="">Pick Up</label>
                                <input type="text">
                            </div>
                            <div class="_Pos_Rel">
                                <label for="">Drop Off</label>
                                <input type="text">
                            </div>
                            <div class="_Pos_Rel">
                                <label for="">Flight Arrival</label>
                                <input type="datetime-local">
                            </div>
                            <div class="_Pos_Rel">
                                <div class="d-none">
                                    <label for="">Return</label>
                                    <input type="datetime-local">
                                </div>
                                <div>
                                    <button type="button" class="_Add_Return">
                                        <i class="fa-sharp fa-solid fa-plus"></i> Add Return
                                    </button>
                                </div>
                            </div>
                            <div class="_Pos_Rel">
                                <span class="stepOneNumber">
                                    <i class="fa-solid fa-user"></i>
                                </span>
                                <input type="number" value="1" class="numberReser">
                                <div class="_user_btns">
                                    <div class="_up_number">
                                        <i class="fa-sharp fa-solid fa-caret-up"></i>
                                    </div>
                                    <div class="_down_number">
                                        <i class="fa-sharp fa-solid fa-caret-down"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="stepOneSubmit">
                            Search Booking
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>