@{
    Layout = "_PanelLayout";
}

<section class="_Module_Margin">
    <div class="container">
        <div>
            <div class="stepOneBtns">
                <a href="javascript:;" class="One_Way">One Way</a>
                <a href="javascript:;" class="Roundtrip_Btn">Roundtrip</a>
            </div>
            <div class="stepOneStyle">
                <div>
                    <form class="stepOneForm" asp-route="getManualLocationValue">
                        <div class="_Form_Inputs">
                            <div class="_Pos_Rel">
                                <label for="">Pick Up</label>
                                <input type="text" id="_Pick_Up" placeholder="Search Location">
                                <input type="hidden" name="PickValue" id="_Pick_Up_Value">
                            </div>
                            <div class="_Pos_Rel">
                                <label for="">Drop Off</label>
                                <input type="text" id="_Drop_Off" placeholder="Search Location">
                                <input type="hidden" name="DropValue" id="_Drop_Off_Value">
                            </div>
                            <div class="_Pos_Rel">
                                <label for="">Flight Arrival</label>
                                <input type="datetime-local" name="FlightTime">
                            </div>
                            <div class="_Pos_Rel">
                                <div class="d-none Return_Arrival">
                                    <label for="">Return</label>
                                    <input type="datetime-local" name="ReturnDate">
                                    <input type="checkbox" name="ReturnStatus" value="true" style="position:absolute; opacity: 0;visibility: visible; " />
                                </div>
                                <div>
                                    <button type="button" class="_Add_Return">
                                        <i class="fa-sharp fa-solid fa-plus"></i> Add Return
                                    </button>
                                </div>
                            </div>
                            <div class="_Pos_Rel">
                                <span class="stepOneNumber">
                                    <i class="fa-solid fa-user"></i>
                                </span>
                                <input type="number" value="1" name="PeopleCount" class="numberReser">
                                <div class="_user_btns">
                                    <div class="_up_number">
                                        <i class="fa-sharp fa-solid fa-caret-up"></i>
                                    </div>
                                    <div class="_down_number">
                                        <i class="fa-sharp fa-solid fa-caret-down"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="stepOneSubmit" type="submit">
                            Search Booking
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

@section pageJsScript{
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAnqSEVlrvgHJymL-F8GmxIwNbe8fYUjdg&libraries=places&callback=initMap"></script>

    <script src="~/webjs/app.js" asp-append-version="true"></script>
}

@section pageJs{
    <script>
        var pickPlaceId;
        var dropPlaceId;

        google.maps.event.addDomListener(window, 'load', initialize);

        function initialize() {
            var input = document.getElementById("_Pick_Up");
            var input2 = document.getElementById("_Drop_Off");

            var autocomplete = new google.maps.places.Autocomplete(input);
            autocomplete.addListener('place_changed', function () {
                var place = autocomplete.getPlace();
                pickPlaceId = place.place_id
                $('#_Pick_Up_Value').val(pickPlaceId)
            });

            var autocomplete2 = new google.maps.places.Autocomplete(input2);

            autocomplete2.addListener('place_changed', function () {
                var place = autocomplete2.getPlace();
                console.log(place.geometry.location.lat)
                dropPlaceId = place.place_id
                $('#_Drop_Off_Value').val(dropPlaceId)
            });
        }
    </script>
                                        }