@{
    Layout = "_PanelLayout";
    ViewData["title"] = "Agencies";
}

@section pageCSSLink{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
}

@section pageCss{
    <style>
        .iti {
            display: block;
        }

        .submitBtn {
            border: none;
            background: var(--orange);
            color: white;
            /* padding: 1.5rem 7rem; */
            width: 100%;
            max-width: 400px;
            height: 62px;
            border-radius: 2px;
        }
    </style>
}

<section class="_Module_Margin">
    <div class="container">
        <form id="_Agency_Form">
            <div class="row">
                <div class="col-md-12 mb-3">
                    <div class="d-flex">
                        <div class="custom-control custom-radio mr-3">
                            <input type="radio" id="partnerAgencyCb" value="2" name="agencyType" checked class="custom-control-input">
                            <label class="custom-control-label" for="partnerAgencyCb">
                                Partner Agency
                            </label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" id="salesAgencyCb" value="5" name="agencyType" class="custom-control-input">
                            <label class="custom-control-label" for="salesAgencyCb">
                                Sales Agency
                            </label>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 _Form_Title mb-2">
                    <h3>
                        Personel Information
                    </h3>
                </div>
                <div class="_Form_Div _Mobile_None"></div>
                <!-- Yapı bozulması diye eklendi. Silinirse yapı bozulur -->

                <div class="col-md-6 mb-2">
                    <label class="_Form_Label">Title</label>
                    <input type="text" class="form-control" name="Title">
                </div>
                <div class="col-md-6 mb-2">
                    <label class="_Form_Label">E-mail</label>
                    <input type="text" class="form-control" name="eposta">
                </div>
                <div class="col-md-6 mb-2">
                    <label class="_Form_Label">Name Surname</label>
                    <input type="text" class="form-control" name="name">
                </div>
                <div class="col-md-6 _Pos_Phone mb-2">
                    <label class="_Form_Label">Phone Number</label>
                    <input type="text" class="form-control" id="_Personel_Number" name="PhoneNumber">
                    <input type="hidden" name="RealPhone" id="realPhoneInpt">
                </div>
                <div class="col-md-6 mb-2">
                    <label class="_Form_Label">Profession (Optional)</label>
                    <input type="text" class="form-control" name="Profession">
                </div>
                <div class="col-md-6 mb-2">
                    <label class="_Form_Label">Password</label>
                    <input type="password" class="form-control" name="Password">
                </div>

                <div class="_Form_Div py-3"></div>
                <!-- 2 Form arasına boşluk bırakmak için. Yapı bozulmasın diye 2 adet var.  -->
                <div class="_Form_Div py-3 _Mobile_None"></div>
                <!-- 2 Form arasına boşluk bırakmak için. Yapı bozulmasın diye 2 adet var.  -->

                <div class="col-md-12 _Form_Title mt-3">
                    <h3>
                        Agency Information
                    </h3>
                </div>
                <div class="_Form_Div _Mobile_None"></div>
                <!-- Yapı bozulması diye eklendi. Silinirse yapı bozulur -->
                <div class="col-md-12 mb-2">
                    <label class="_Form_Label">Company Name</label>
                    <input type="text" class="form-control" name="CompanyName">
                </div>
                <div class="col-md-6 mb-2">
                    <label class="_Form_Label">Adress</label>
                    <input type="text" class="form-control" name="Address">
                </div>
                <div class="col-md-6 mb-2">
                    <label class="_Form_Label">Company Website (optional)</label>
                    <input type="text" class="form-control" name="CompanyWebsite">
                </div>
                <div class="col-md-3">
                    <label class="_Form_Label">Linkedin (optional)</label>
                    <input type="text" class="form-control" name="Linkedin">
                </div>
                <div class="col-md-3">
                    <label class="_Form_Label">Facebook (optional)</label>
                    <input type="text" class="form-control" name="Facebook">
                </div>
                <div class="_Pos_Rel col-md-3">
                    <label class="_Form_Label">Transfer Request (monthly basis)</label>
                    <input type="text" class="form-control" name="TransferRequest">
                </div>

                <div class="_Pos_Rel col-md-3">
                    <label class="_Form_Label">Transfer Requested Locations</label>
                    <input type="text" class="form-control" name="TransferRequestLocation">
                </div>

                <div class="col-md-6 _Pos_Phone mb-2">
                    <label class="_Form_Label">Company Phone Number</label>
                    <input type="text" class="form-control" id="_Agency_Number" name="CompanyPhoneNumber">
                    <input type="hidden" name="CompanyRealPhone" id="companyRealPhoneInpt">
                </div>

                <div class="col-md-6 _Last_Input mb-2">
                    <label class="_Form_Label">Tell us Phone Number</label>
                    <input type="text" class="form-control" name="TellUsPhoneNumber">
                </div>
@*
                <div class="col-md-12 _Check_Main mt-4">
                    <div class="_Check_Div">
                        <div class="col-md-12 _Pos_Rel">
                            <div class="custom-control custom-checkbox mb-2">
                                <input type="checkbox" class="custom-control-input" name="c1" value="true">
                                <label class="custom-control-label" for="financialCheckbox">
                                    By clicking “Register”, you indicate that
                                    you have
                                    agreed to all Terms and Conditions. *
                                </label>
                            </div>

                        </div>
                    </div>
                    <div class="_Check_Div">
                        <div class="custom-control custom-checkbox mb-2">
                            <input type="checkbox" class="custom-control-input" name="c2" value="true">
                            <label class="custom-control-label" for="financialCheckbox">
                                By clicking “Register”, you indicate that
                                you have
                                agreed our Privacy Policy. *
                            </label>
                        </div>
                    </div>
                </div>*@
                <div class="col-md-12 mt-2">
                    <button type="submit" class="submitBtn">
                        Submit
                    </button>
                </div>
            </div>
        </form>
    </div>
</section>

@section pageJsScript{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
}
@section pageJs{
    <script>
        $('#_Agency_Form').on("submit", function (e) {
            e.preventDefault();
            if ($(this).valid()) {
                var formData = $(this).serialize()
                $.ajax({
                    url: '@Url.Action(nameof(Airport.UI.Controllers.GlobalAdminController.Agencies))',
                    type: "POST",
                    data: formData,
                    success: function (response) {
                        if (response.result == 1) {
                            Swal.fire({
                                icon: 'success',
                                title: 'Success',
                                text: 'Successfully Created Agency Account',
                            })
                        } else if (response.result == 2) {
                            Swal.fire({
                                icon: 'warning',
                                title: 'Warning',
                                text: 'This email is already registered',
                            })
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Error',
                                text: 'Something is wrong!!',
                            })
                        }
                    }
                });
            }
        })

        const phoneInputField = document.querySelector("#_Personel_Number");
        const phoneInput = window.intlTelInput(phoneInputField, {
            utilsScript:
                "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
        });
        const phoneInputField2 = document.querySelector("#_Agency_Number");
        const phoneInput2 = window.intlTelInput(phoneInputField2, {
            utilsScript:
                "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
        });


        $('#_Personel_Number').on("change keypress keyup countrychange", function () {
            $('#realPhoneInpt').val(phoneInput.getNumber().replace("+", ""))
        })

        $('#_Agency_Number').on("change keypress keyup countrychange", function () {
            $('#companyRealPhoneInpt').val(phoneInput.getNumber().replace("+", ""))
        })

        var cleave = new Cleave('[name="CompanyPhoneNumber"]', {
            numericOnly: true,
            blocks: [15]
        });

        var cleave = new Cleave('[name="PhoneNumber"]', {
            numericOnly: true,
            blocks: [15]
        });

        var cleave = new Cleave('[name="TellUsPhoneNumber"]', {
            numericOnly: true,
            blocks: [15]
        });


    </script>
}