@{
    Layout = "_PanelLayout";
    ViewData["title"] = "Bank Account";
}

<div class="container">
    <div class="bg-white rounded-lg d-block d-md-flex out-style">
        @await Component.InvokeAsync("ProfileSidebar")
        <div class="tab-content p-sm-5 p-3 w-100" id="v-pills-tabContent">
            <div class="tab-pane fade active show" id="bank-accounts">
                <div class="_Bank_Flex">
                    <div>
                        <h2 class="_Simple_Orange_Title">
                            Bank Accounts
                        </h2>
                        <div class="_Simple_Div">
                            <p class="_Simple_P">
                                Please add your bank account
                                details that you want toreceive your payment.
                            </p>
                        </div>
                    </div>
                    <div>
                        <button class="_Added_Bank_Acc">
                            Add Account
                        </button>
                    </div>
                </div>
                <div class="_Info _Empty_Acc">
                    <span>
                        You don't have any bank account
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>