@{
    Layout = "_PanelLayout";
    ViewData["title"] = "Create Pay Link";
}

<section class="my-5">
    <div class="container">
        <div class="link-btn-flex">
            <input type="text" placeholder="Price" style="max-width: 13rem;" class="form-control form-control-custom">
            <a href="#test">Create Link</a>
        </div>
        <div>
            <input type="text" placeholder="Pay Link" class="form-control form-control-custom">
        </div>
    </div>
</section>