@{
    Layout = "_PanelLayout";
    ViewData["title"] = "Docs";
}
<section class="my-5">
    <div class="container">
        <div class="doc-items">
            <div class="doc-item">
                <h6>Doc 1</h6>
                <div class="row">
                    <div class="col-12">
                        <div class="doc-block form-control form-control-custom">
                            <p>
                                Select File
                            </p>
                            <input type="file">
                        </div>
                        <div>
                            <i class="fa-solid fa-download"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="doc-item">
                <h6>Doc 2</h6>
                <div class="row">
                    <div class="col-12">
                        <div class="doc-block form-control form-control-custom">
                            <p>
                                Select File
                            </p>
                            <input type="file">
                        </div>
                        <div>
                            <i class="fa-solid fa-download"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="doc-item">
                <h6>Doc 3</h6>
                <div class="row">
                    <div class="col-12">
                        <div class="doc-block form-control form-control-custom">
                            <p>
                                Select File
                            </p>
                            <input type="file">
                        </div>
                        <div>
                            <i class="fa-solid fa-download"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>