@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section class="_Module_Margin">
    <div class="container">
        <div class="_Profile_Flex">
            <div class="_Profile_Left">
                <div class="_Profile_Items_Flex">
                    <div class="_Step3_Item">
                        <img src="tede/car.png" alt="">
                        <h2>
                            Standard Sedan
                        </h2>
                        <div class="my-4">
                            <p>TRANSFER-INN-PERA VIP TRAVEL</p>
                            <p>Min 1 Max 4 Passengers</p>
                            <p>Max 4 Suitcase+ 2 Small Bags</p>
                        </div>
                        <div class="my-2">
                            <h4>Pick Up</h4>
                            <h5>Sabiha Gokcen International Airport</h5>
                        </div>
                        <div class="my-2">
                            <h4>Drop Off</h4>
                            <h5>İstanbul, Türkiye</h5>
                        </div>
                        <div class="my-2">
                            <h4>Passengers</h4>
                            <h5>1 Adult</h5>
                        </div>
                        <div class="my-2">
                            <h4>Date</h4>
                            <h5>27 Apr 2023, 12:00</h5>
                        </div>
                        <div class="my-2">
                            <div class="_Total_Flex">
                                <h3>
                                    Total
                                </h3>
                                <p>
                                    €30.23
                                </p>
                            </div>
                            <p>
                                Free Cancellation <br>
                                All Taxes included
                            </p>
                        </div>
                    </div>
                    <style>
                        ._Step3_Item {
                            padding: 1.5rem;
                        }

                            ._Step3_Item p,
                            ._Step3_Item h2 {
                                margin: 0;
                                font-weight: 600;
                            }

                            ._Step3_Item h4 {
                                color: var(--orange);
                                font-size: 1.25rem;
                                font-weight: 600;
                            }

                            ._Step3_Item h3 {
                                color: var(--orange);
                                font-size: 2rem;
                                font-weight: 600;
                            }

                            ._Step3_Item h5 {
                                font-size: .9rem;
                                font-weight: 400;
                            }

                            ._Step3_Item img {
                                width: 100%;
                                border-radius: 15px;
                                overflow: hidden;
                                height: 15rem;
                                margin: auto;
                                display: flex;
                                object-fit: cover;
                                box-shadow: 0 0 5px rgb(0, 0, 0, .16);
                            }

                        ._Total_Flex {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                        }

                            ._Total_Flex p {
                                font-size: 2rem;
                            }

                        #_Passenger_Form span {
                            font-size: 12px;
                        }

                        ._Profile_Right._None_Shodow {
                            box-shadow: none !important;
                        }
                    </style>
                </div>
            </div>
            <div class="_Profile_Right _None_Shodow">
                <div>
                    <h2 class="_Simple_Orange_Title">
                        Passenger Details
                    </h2>
                    <div class="_Simple_Div">
                        <p class="_Simple_P">
                            Number Of Luggages
                            Be sure not to take any extra luggage more than your supplier ' s limit. In those cases,
                            you may be charged for any extra pack or not to be taken by driver without any refund
                        </p>
                    </div>
                    <div>
                        <form id="_Passenger_Form">
                            <div class="_Form_Flex_Style">
                                <div class="_Form_Div">
                                    <label class="_Form_Label">Name</label>
                                    <input type="text" name="Name">
                                </div>
                                <div class="_Form_Div">
                                    <label class="_Form_Label">Surname</label>
                                    <input type="text" name="Surname">
                                </div>
                                <div class="_Form_Div _Info_Div">
                                    <label class="_Form_Label">E-mail</label>
                                    <input type="text" name="E-mail">
                                    <span>
                                        Your invoice will be sent to this e-mail address
                                    </span>
                                </div>
                                <div class="_Form_Div _Info_Div">
                                    <label class="_Form_Label">Phone</label>
                                    <input type="text" name="Phone">
                                    <span>
                                        You will be receiving both text and phone calls from
                                        the driver at this number.
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="_Steps_Style">
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12">
                <div class="_Steps_Flex">
                    <div class="_Step_Text">Step 1</div>
                    <div class="_Line"></div>
                    <div class="_Step_Text">Step 2</div>
                    <div class="_Line"></div>
                    <div class="_Step_Text">Step 3</div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                <div class="_Steps_Btns">
                    <button class="_Steps_Btn">
                        Prevıous
                    </button>
                    <button class="_Steps_Btn">
                        NEXT
                    </button>
                </div>
            </div>
        </div>
    </div>

</section>