@{
    Layout = "_PanelLayout";
}

<div class="d-flex justify-content-end">
    <a href="/panel/add-location/step-one" class="btn" style="background: #EC681E;color: white;">
        Add Location
    </a>
</div>
