@{
    ViewData["title"] = "About";
}

<style>
    @@media only screen and (min-width: 992px) {
        ._Module_Margin {
            margin: 5rem 0;
        }
    }
</style>
<section class="_Module_Margin _About_Module">
    <div class="container">
        <h3>About Company</h3>
        <p>
            We’re on a mission to digitally revolutionise airport & travel services. Airport Global Transfer Service
            is
            the industry’s first
            booking platform that allows you to purchase any service, from eSIM to VIP, in a few clicks.
            We work with over 700 airports across 120 countries, making available for online purchase
            more than 10,000 services.
        </p>
        <p>
            Over the last years, we’ve built our own operations, tools, and worked on automating as many processes
            as
            possible to
            create unique IT solutions for various travel businesses.
            Today we provide airports, airlines, OTAs and travel companies with API and Widget integration to enable
            the
            purchase of
            airport & travel services with any airline ticket.
        </p>
        <p>
            We’re a team of passionate people, working to bring the industry online and to give every traveller the
            freedom to book
            the perfect airport experience – at any time or place.
        </p>
    </div>
</section>

<section class="_Module_Margin mt-0 _About_Module">
    <div class="container">
        <h3>CONTACTS: </h3>
        @*<p>
        <a target="_blank" rel="nofollow" title="Adress"
        href="https://www.google.com/maps/place/Yahyakemal,+Talatpa%C5%9Fa+Cd.+No:362+D:a,+34410+K%C3%A2%C4%9F%C4%B1thane%2F%C4%B0stanbul/@@41.0857784,28.9843076,17z/data=!3m1!4b1!4m5!3m4!1s0x14cab692bd9e2d2b:0x72080ba767256684!8m2!3d41.0857784!4d28.9868825">
        Yahyakemal, Talatpaşa Cd. NO:362/A, 34410 <br>
        Kâğıthane/İstanbul
        </a>
        </p>*@
        <p>
            <a href="mailto:info@airportglobaltransfer.com">
                Email: info@airportglobaltransfer.com
            </a>
        </p>
    </div>
</section>

@*
<!DOCTYPE html>
<html>

<head>
    <title>Daireyi Özelleştirme Örneği</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
        #map {
            height: 500px;
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>



    <script>
        let map, circle, placesService;
        let infoWindow = new google.maps.InfoWindow();

        function initMap() {
            // Harita oluştur
            map = new google.maps.Map(document.getElementById("map"), {
                center: { lat: 41.0812087, lng: 28.9730151 },
                zoom: 13,
            });



            // Haritaya tıklanınca daire ekle
            map.addListener("click", addCircle);

            // Butona tıklanınca daire içindeki yerleri listele
            document.getElementById("btn").addEventListener("click", listPlaces);

        }

        // Daire ekleme işlemi
        function addCircle(event) {
            // Daha önce oluşturulmuş daire varsa sil
            if (circle) {
                circle.setMap(null);
            }

            // Yeni daire oluştur
            circle = new google.maps.Circle({
                center: event.latLng,
                radius: 500,
                map: map,
                draggable: true,
                editable: true,
            });

            // Daire üzerine tıklandığında bilgileri göster
            circle.addListener("click", showInfo);

            // Daire boyutu veya konumu değiştirildiğinde bilgileri güncelle
            circle.addListener("radius_changed", showInfo);
            circle.addListener("center_changed", showInfo);
        }

        // Daire hakkındaki bilgileri gösterme işlemi
        function showInfo() {
            const radius = circle.getRadius() / 1000;
            const center = circle.getCenter().toJSON();
            infoWindow.setContent(`<div>Merkez: ${JSON.stringify(center)}, Yarıçap: ${radius.toFixed(2)} km</div>`);
            infoWindow.setPosition(circle.getCenter());
            infoWindow.open(map);
        }

        // Daire içindeki yerleri listeleme işlemi
        function listPlaces() {


            // PlacesService oluştur
            placesService = new google.maps.places.PlacesService(map);

            const request = {
                location: circle.getCenter(),
                radius: circle.getRadius(),
            };

            placesService.nearbySearch(request, (results, status) => {
                if (status === google.maps.places.PlacesServiceStatus.OK) {
                    console.log(JSON.parse(JSON.stringify(results)));
                }
            });
        }


        google.maps.event.addDomListener(window, 'load', initialize);

        function initialize() {
            var input = document.getElementById('autocomplete_search');
            var autocomplete = new google.maps.places.Autocomplete(input);
            autocomplete.addListener('place_changed', function () {
                var place = autocomplete.getPlace();
                console.log(place)
                // place variable will have all the information you are looking for.
                $('#lat').val(place.geometry['location'].lat());
                $('#long').val(place.geometry['location'].lng());
            });
        }

    </script>

    <script>

    </script>
</head>

<body onload="initMap()">
    <div id="map"></div>
    <button id="btn">listele</button>

    <input type="text" id="autocomplete_search">
    <input type="text" id="lat">
    <input type="text" id="long">
</body>

</html>
*@