<!-- Form -->
@section pageCSSLink{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
}

<section class="_Module_Margin">
    <div class="container">
        <form id="_Agency_Form" asp-route="agenciesForm">
            <div class="_Agency_Flex _Form_Flex_Style">
                <div class="_Form_Div _Form_Title">
                    <h3>
                        Personel Information
                    </h3>
                </div>
                <div class="_Form_Div _Mobile_None"></div>
                <!-- Yapı bozulması diye eklendi. Silinirse yapı bozulur -->

                <div class="_Form_Div">
                    <label class="_Form_Label">Title</label>
                    <input type="text" name="Title">
                </div>
                <div class="_Form_Div">
                    <label class="_Form_Label">E-mail</label>
                    <input type="text" name="eposta">
                </div>
                <div class="_Form_Div">
                    <label class="_Form_Label">Name Surname</label>
                    <input type="text" name="name">
                </div>
                <div class="_Form_Div _Pos_Phone">
                    <label class="_Form_Label">Phone Number</label>
                    <input type="text" id="_Personel_Number" name="PhoneNumber">
                </div>
                <div class="_Form_Div">
                    <label class="_Form_Label">Profession (Optional)</label>
                    <input type="text" name="Profession">
                </div>
                <div class="_Form_Div">
                    <label class="_Form_Label">Password</label>
                    <input type="password" name="Password">
                </div>

                <div class="_Form_Div py-3"></div>
                <!-- 2 Form arasına boşluk bırakmak için. Yapı bozulmasın diye 2 adet var.  -->
                <div class="_Form_Div py-3 _Mobile_None"></div>
                <!-- 2 Form arasına boşluk bırakmak için. Yapı bozulmasın diye 2 adet var.  -->

                <div class="_Form_Div _Form_Title">
                    <h3>
                        Agency Information
                    </h3>
                </div>
                <div class="_Form_Div _Mobile_None"></div>
                <!-- Yapı bozulması diye eklendi. Silinirse yapı bozulur -->
                <div class="_Form_Div">
                    <label class="_Form_Label">Company Name</label>
                    <input type="text" name="CompanyName">
                </div>
                <div class="_Form_Div">
                    <label class="_Form_Label">Adress</label>
                    <input type="text" name="Address">
                </div>
                <div class="_Form_Div">
                    <label class="_Form_Label">Company Website (optional)</label>
                    <input type="text" name="CompanyWebsite">
                </div>
                <div class="_Form_Div">
                    <div class="_Down_Flex">
                        <div>
                            <label class="_Form_Label">Linkedin (optional)</label>
                            <input type="text" name="Linkedin">
                        </div>
                        <div>
                            <label class="_Form_Label">Facebook (optional)</label>
                            <input type="text" name="Facebook">
                        </div>
                    </div>
                </div>
               
                <div class="_Form_Div">
                    <div class="_Down_Flex">
                        <div class="_Pos_Rel">
                            <label class="_Form_Label">Transfer Request (monthly basis)</label>
                            <input type="text" name="TransferRequest">
                        </div>
                        <div class="_Pos_Rel">
                            <label class="_Form_Label">Transfer Requested Locations</label>
                            <input type="text" name="TransferRequestLocation">
                        </div>
                    </div>
                </div>
                <div class="_Form_Div _Pos_Phone">
                    <label class="_Form_Label">Company Phone Number</label>
                    <input type="text" id="_Agency_Number" name="CompanyPhoneNumber">
                </div>
               @* <div class="_Form_Div">
                    <div class="_Down_Flex">
                        <div>
                            <p>Certificate</p>
                            <p>
                                Please upload your business registration
                                certificate.
                            </p>
                        </div>
                        <div class="_Pos_Rel _File_Main">
                            <label class="_Form_Label">Transfer Requested Locations</label>
                            <input type="file" name="file" class="_File" accept=".pdf,.jpg,.png">
                            <div class="_Clone_Input">
                                <img src="img/file.png" alt="file">
                                <p>
                                    Browse
                                </p>
                                <span class="_Attr_File">.pdf, .jpg, .png files accepted (max. 4 MB)</span>
                            </div>
                        </div>
                    </div>
                </div>*@

                <div class="_Form_Div _Last_Input">
                    <label class="_Form_Label">Tell us Phone Number</label>
                    <input type="text" name="TellUsPhoneNumber">
                </div>

                <div class="_Form_Div _Check_Main mt-4">
                    <div class="_Check_Div">
                        <input type="checkbox" name="c1"> <label for="">
                            By clicking “Register”, you indicate that
                            you have
                            agreed to all Terms and Conditions. *
                        </label>
                    </div>
                    <div class="_Check_Div">
                        <input type="checkbox" name="c2"> <label for="">
                            By clicking “Register”, you indicate that
                            you have
                            agreed our Privacy Policy. *
                        </label>
                    </div>
                </div>
                <div class="_Form_Div">
                    <button>
                        Submit
                    </button>
                </div>
            </div>
        </form>
    </div>
</section>


@section pageJsScript{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
}
@section pageJs{



    <script>

        @if (ViewBag.Message == "success")
        {
            <text>
                Swal.fire({
                icon: 'success',
                title: 'Success',
                text: 'Successfully Created Your Agency Account',
                })
            </text>
        }
        else if(ViewBag.Message == "have")
        {
                        <text>
                Swal.fire({
                icon: 'warning',
                title: 'Error',
                text: 'This email is already registered',
                })
            </text>
        }




        const phoneInputField = document.querySelector("#_Personel_Number");
        const phoneInput = window.intlTelInput(phoneInputField, {
            utilsScript:
                "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
        });
        const phoneInputField2 = document.querySelector("#_Agency_Number");
        const phoneInput2 = window.intlTelInput(phoneInputField2, {
            utilsScript:
                "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
        });



        var cleave = new Cleave('[name="CompanyPhoneNumber"]', {
            numericOnly: true,
            blocks: [15]
        });

        var cleave = new Cleave('[name="PhoneNumber"]', {
            numericOnly: true,
            blocks: [15]
        });

        var cleave = new Cleave('[name="TellUsPhoneNumber"]', {
            numericOnly: true,
            blocks: [15]
        });
        

    </script>
}