

@{
	ViewData["title"] = "Cancellation Policy";
}

@section pageCss{
	<style>
		._About_Module h2 {
			font-size: 1.05rem;
			font-weight: 600;
		}
	</style>
}
<section class="_Module_Margin _About_Module">
	<div class="container">
		<h3>Cancellation Policy</h3>
		<h2>1.HOW CAN I CANCEL MY RESERVATION?</h2>
		<p>
			Cancellations could be made directly using our website, or you can choose to send an e-mail to our cancellation
			e-mail address. If you decide to follow the later, please use the same email address you’ve made your
			reservation with, and we will send you an automatic respond. The link in the e-mail will direct you to the
			cancellation page. If you are a registered user of our website, you can cancel your reservation by clicking the
			“Cancel My Reservation” button. If you are not a registered user, you can cancel your reservation by filling the
			cancellation form which appears after you click on the link we’ve sent you.
		</p>
		<h2>2. TILL WHEN CAN I CANCEL MY RESERVATION?</h2>
		<p>
			-Depending on when you cancel your reservation, you might be entitled to a refund. Cancellation time might vary
			depending on the Transport Company and the vehicle you’ve chosen. The cancellation period is one of the listing
			features Airporttransfer offers to its users. Please refer to the terms, conditions and specific cancellation
			policy of the Transfer Company booked prior to the time of booking.
		</p>
		<p>
			-If you cancel your reservation before the time limit you’ve chosen while making the reservation, the amount
			you’ve paid for it, based on your preference:
		</p>
		<p>* Will be refunded to the credit/debit card or </p>
		<p>
			* You can transfer it to the wallet feature on the website and you can use this money in the future when you
			choose our services.
		</p>
		<p>
			-By any reason, if you do not cancel your reservation, before the time limit, via website or e-mail, no refunds
			will be given.
		</p>
		<h2>3. WHAT IF I HAVE A PROBLEM REGARDING THE SERVICE THAT IS UNRELATED TO ME?</h2>
		<p>
			i)In case the transport company cannot perform the transportation service due to any problems you have three
			options:
		</p>
		<p>1- You can request the company to provide you an alternative service,</p>
		<p>2- You can request a refund </p>
		<p>
			3- You can transfer the payment amount to the wallet feature on the website and you can use this money in the
			future when you choose our services.
		</p>
		<p>
			ii) The credit or the debit card you’ve used to pay for the booking will be charged, by our business partner
			Stripe. Immediately a payment confirmation e-mail will be sent to you. However, starting from the next day that
			you were supposed to receive the service, the payment will not be transferred to the company in three business
			days. Thus, if there is a problem with the Transport Service you have or have not received, you can contact us
			within three business days.
		</p>
		<p>
			- If the Transfer Company needs to change or cancel your confirmed Transport Arrangements, we will notify you as
			soon as possible. We will also liaise between you and the Transport Company regarding alternative arrangements.
			However, it should be noted that the airport transfer not responsible for the actual provision of the Services.
			Airporttransfer has no obligation to pay any compensation or additional fee due to the problems you have with
			the transport company.
		</p>
		<p> </p>
	</div>
</section>
