@{
    ViewData["title"] = "Contact";
}
<section class="_Module_Margin">
    <div class="container">
        <div class="_Contact_Flex">
            <div class="_Contact_Left">
                <ul>
                    <li>
                        <h3>
                            Contacts
                        </h3>
                    </li>
                    <li class="mt-4">
                        <h4>
                            OUR CONTACTS:
                        </h4>
                    </li>
                    <li>
                        <a href="javascript:;">
                            Call or text us
                        </a>
                    </li>
                    <li class="mt-4">
                        <h4>
                            Customer support 24/7
                        </h4>
                    </li>
                    <li>
                        <a href="/" title="WhatsApp">
                            WhatsApp
                        </a>
                    </li>
                    <li>
                        <a href="/" title="Telegram">
                            Telegram
                        </a>
                    </li>
                    <li>
                        <a href="/" title="Facebook Messenger">
                            Facebook Messenger
                        </a>
                    </li>
                    @*<li class="mt-4">
                        <h4>
                            OUR ADDRESS:
                        </h4>
                    </li>
                    <li>
                        <a target="_blank" rel="nofollow" title="Adress"
                           href="https://www.google.com/maps/place/Yahyakemal,+Talatpa%C5%9Fa+Cd.+No:362+D:a,+34410+K%C3%A2%C4%9F%C4%B1thane%2F%C4%B0stanbul/@@41.0857784,28.9843076,17z/data=!3m1!4b1!4m5!3m4!1s0x14cab692bd9e2d2b:0x72080ba767256684!8m2!3d41.0857784!4d28.9868825">
                            Yahyakemal, Talatpaşa Cd. NO:362/A, 34410
                            Kâğıthane/İstanbul
                        </a>
                    </li>*@
                </ul>
            </div>
            <div class="_Contact_Right">
                <h3 class="_Module_p m-0">
                    EMAIL US
                </h3>
                <p class="_Module_p m-0">
                    You can send your request to info@airportglobaltransfer.com or write in the online form below
                    right now.
                </p>
                <div>
                    <form id="_Contact_Form">
                        <div class="_Contact_Form_Flex">
                            <div class="_Pos_Rel">
                                <label>Email*</label>
                                <input type="text" name="mail">
                            </div>
                            <div class="_Pos_Rel">
                                <label>Your request*</label>
                                <textarea name="message"></textarea>
                            </div>
                            <div>
                                <button>Send</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
@*
<iframe class="_Module_Margin mt-0"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3007.231953778044!2d28.98430757582165!3d41.08577837133974!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab692bd9e2d2b%3A0x72080ba767256684!2zWWFoeWFrZW1hbCwgVGFsYXRwYcWfYSBDZC4gTm86MzYyIEQ6YSwgMzQ0MTAgS8OixJ_EsXRoYW5lL8Swc3RhbmJ1bA!5e0!3m2!1str!2str!4v1681866603169!5m2!1str!2str"
        width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
*@