@{
	ViewData["title"] = "Cookie Policy";
}

@section pageCss{
	<style>
		._About_Module h2 {
			font-size: 1.05rem;
			font-weight: 600;
		}
	</style>


}
<section class="_Module_Margin _About_Module">
	<div class="container">

		<h3>Cookie Policy</h3>
		<h2>WHAT ARE COOKIES?</h2>
		<p>
			A cookie is a small text file on your computer, created by a website. It stores information about your visit. For
			instance it can keep track of the time you’ve spent on the website, or according to the actions you take during
			your visit, it learns your preferences and inclinations. Cookies are widely used to make the websites work and
			gradually better it. They provide the owners of the website with information regarding their visitors, and
			according to the received data, they improve their website.
		</p>
		<h2>WHAT WE USE COOKIES FOR?</h2>
		<p>
			Some cookies are required for our website’s fundamental functionality, therefore you cannot choose to turn them
			off. They able you to log in, move from page to page and use our interactive tools. Without them our website
			will not function properly and we will not be able to fix the errors that occur. The necessary cookies,
			likewise, enable basic functions such as security, network management and accessibility. Also, these cookies
			stores the user’s preference regarding the cookies on airporttransfer.com, which lets us to provide users with a
			better experience.
		</p>
		<p>
			We use Google Analytics cookies to help us improve by collecting and reporting information about how you use our
			website. This process happens in a way that no visitors can be directly identified and their previous actions
			cannot be followed.
		</p>
		<p>
			You can review the privacy policy to examine how your personal data obtained via cookies. You can also check how
			it is protected or shared with the third parties.
		</p>
		<h2>ARE COOKIES SAFE?</h2>
		<p>
			Yes. Cookies will not cause any harm to your device. They are not used for tracing your individual journeys
			across the web. They, also, do not reveal your identity with us or collect any personal details that can be
			tracked back to you. The data, cookies provide us with is anonymous. Your personal data is safe with us.
		</p>
		<h2>HOW DO I CHANGE MY COOKIE SETTINGS?</h2>
		<p>
			Our website uses two kinds of cookies. Some are strictly necessary for making our website work efficiently. But
			you can choose to turn the others on or off below. You can also manage what cookies are stored on your computer
			directly by setting your browser to accept or reject certain cookies. Blocking some types of cookies may mean
			you can’t use all the services or features on our site.
		</p>
		<p>
			Remember that editing your cookie preferences will not remove any existing cookies from your browser. It’ll only
			affect the way cookies are used in future.
		</p>
		<p>
			For more detailed information about cookies, you can visit <a href="https://www.aboutcookies.org/">https://www.aboutcookies.org/</a>
		</p>
	</div>
</section>
