@{
    ViewData["Title"] = "Home";
}

@section pageCSSLink{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
}

@section pageCss{
            <style>
                            #reservationForm label.error {
                                font-weight: 800;
                                font-size: 1.5rem !important;
                                right: 6px;
                                top: 3px;
                                position: absolute;
                                left: auto !important;
                            }

                        </style>
}
<!-- Banner -->
<section>
    <div class="container">
        <div>
            <h2 class="_Banner_Title">
                Book airport services all over the world
                in just a few clicks
            </h2>
            <div class="_Banner_Flex">
                <div class="_Banner_Left">
                    <div class="_Banner_Form">
                
                        <form asp-route="getLocationValue" method="post" id="reservationForm">                           
                            <div class="_Form_Cat">
                                <div>
                                    <input id="reservationDatas" name="reservationDatas" type="hidden" />
                                    <button class="One_Way" type="button">
                                        One Way
                                    </button>
                                </div>
                                <div>
                                    <button class="Roundtrip_Btn" type="button">
                                        Roundtrip
                                    </button>
                                </div>
                            </div>
                            <div class="_Form_Inputs">
                                <div class="_Pos_Rel">
                                    <div>
                                        <img src="~/img/location.png" class="_Locaiton_Icon" alt="Location icon">
                                        <label for="">Pick Up</label>
                                        <input class="get-location" id="_Pick_Up" name="PickValueText" placeholder="Search Location" type="text" />

                                        <input id="_Pick_Up_Value" name="PickValue" type="hidden" />
                                    </div>
                                </div>
                                <div class="_Pos_Rel">
                                    <div>
                                        <img src="~/img/location.png" class="_Locaiton_Icon" alt="Location icon">
                                        <label for="">Drop off</label>
                                        <input class="get-location" id="_Drop_Off" name="DropValueText" placeholder="Search Location" type="text" />

                                        <input id="_Drop_Off_Value" name="DropValue" type="hidden" />
                                    </div>
                                </div>
                                <div class="_Pos_Rel">
                                    <label for="">Flight Arrival</label>
                                    <img src="~/img/calendar.png" class="calendarImage" />
                                    <input type="datetime-local" name="FlightTime" style="padding-left: 10px;">
                                </div>
                                <div class="_Pos_Rel">
                                    <div class="d-none Return_Arrival">
                                        <label for="">Return</label>
                                        <input type="datetime-local" name="ReturnDate">
                                        <img src="~/img/calendar.png" class="calendarImage" />
                                        <input type="checkbox" name="ReturnStatus" value="true" style="position:absolute; opacity: 0;visibility: visible; " />
                                    </div>
                                    <div>
                                        <button type="button" class="_Add_Return">
                                            <i class="fa-sharp fa-solid fa-plus"></i> Add Return
                                        </button>
                                    </div>
                                </div>
                                <div class="_Pos_Rel _User_Div">
                                    <span class="_User"><i class="fa-solid fa-user"></i></span>
                                    <input type="text" value="1" name="PeopleCount" onkeydown="return numControl(event)">
                                </div>
                                <div class="_Pos_Rel">
                                    <button type="submit" class="_Search_Booking" id="_Search_Booking">
                                        Search Booking
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="_Banner_Right">
                    <img src="~/img/phonesMockup.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Neden Airpot Global? -->
<section class="_Module_Margin">
    <div class="container">
        <div>
            <h2 class="_Orange_Title">
                Why join Airport Global Transfer Service?
            </h2>

            <div class="_Module_Inner_Pad">
                <div class="_Why_Module_Flex">
                    <div class="_Why_Module_Item">
                        <div>
                            <img src="~/img/ucak.png" alt="Plane Icon">

                        </div>
                        <div>
                            <p>
                                Boost your revenue per client
                            </p>
                        </div>
                    </div>
                    <div class="_Why_Module_Item">
                        <div>
                            <img src="~/img/ucak.png" alt="Plane Icon">

                        </div>
                        <div>
                            <p>
                                Book services at official or lower rates
                            </p>
                        </div>
                    </div>
                    <div class="_Why_Module_Item">
                        <div>
                            <img src="~/img/ucak.png" alt="Plane Icon">

                        </div>
                        <div>
                            <p>
                                Benefit from timesaving and cost-efficiency
                            </p>
                        </div>
                    </div>
                    <div class="_Why_Module_Item">
                        <div>
                            <img src="~/img/ucak.png" alt="Plane Icon">

                        </div>
                        <div>
                            <p>
                                Reduce the risks and get instant confirmation
                            </p>
                        </div>
                    </div>
                    <div class="_Why_Module_Item">
                        <div>
                            <img src="~/img/ucak.png" alt="Plane Icon">

                        </div>
                        <div>
                            <p>
                                Expand the variety of services provided
                                by your agency
                            </p>
                        </div>
                    </div>
                    <div class="_Why_Module_Item">
                        <div>
                            <img src="~/img/ucak.png" alt="Plane Icon">

                        </div>
                        <div>
                            <p>
                                Access personal account, API and
                                White label solutions
                            </p>
                        </div>
                    </div>
                </div>
                <div class="_Why_Btns">
                    <div><a href="/agencies" class="_Why_Btn _Active">Become A Partner</a></div>
                    <div><a href="/contact" class="_Why_Btn">Contact Sales</a></div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--  1.000.000+ happy riders every year -->
<section class="_Module_Margin noneSliderHappySection">
    <div class="container">
        <div class="_Module_Inner_Pad">
            <h2 class="_Orange_Title">
                1.000.000+ happy riders every year
            </h2>
            <div class="_Module_Inner_Pad">
                <div class="_Happy_Flex">
                    <div class="_Happy_Item">
                        <img src="~/img/trustpilot.png" alt="trustpilot">
                        <div class="_Happy_Detail">
                            <div>
                                <img src="~/img/star.png" alt="star">
                            </div>
                            <div>
                                <p>
                                    4.9<span>/5</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="_Happy_Item">
                        <img src="~/img/tripadvisor.png" alt="tripadvisor">
                        <div class="_Happy_Detail">
                            <div>
                                <img src="~/img/star.png" alt="star">
                            </div>
                            <div>
                                <p>
                                    4.9<span>/5</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="_Happy_Item">
                        <img src="~/img/reviews.png" alt="reviews">
                        <div class="_Happy_Detail">
                            <div>
                                <img src="~/img/star.png" alt="star">
                            </div>
                            <div>
                                <p>
                                    4.9<span>/5</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="_Happy_Item">
                        <img src="~/img/google.png" alt="google">
                        <div class="_Happy_Detail">
                            <div>
                                <img src="~/img/star.png" alt="star">
                            </div>
                            <div>
                                <p>
                                    4.9<span>/5</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="_Module_Margin sliderHappySection">
    <div class="container">
        <div class="_Module_Inner_Pad">
            <h2 class="_Orange_Title">
                1.000.000+ happy riders every year
            </h2>
            <div class="_Module_Inner_Pad">
                <div class="_Happy_Flex sliderHappy">
                    <div class="_Happy_Item">
                        <img src="~/img/trustpilot.png" alt="trustpilot">
                        <div class="_Happy_Detail">
                            <div>
                                <img src="~/img/star.png" alt="star">
                            </div>
                            <div>
                                <p>
                                    4.9<span>/5</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="_Happy_Item">
                        <img src="~/img/tripadvisor.png" alt="tripadvisor">
                        <div class="_Happy_Detail">
                            <div>
                                <img src="~/img/star.png" alt="star">
                            </div>
                            <div>
                                <p>
                                    4.9<span>/5</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="_Happy_Item">
                        <img src="~/img/reviews.png" alt="reviews">
                        <div class="_Happy_Detail">
                            <div>
                                <img src="~/img/star.png" alt="star">
                            </div>
                            <div>
                                <p>
                                    4.9<span>/5</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="_Happy_Item">
                        <img src="~/img/google.png" alt="google">
                        <div class="_Happy_Detail">
                            <div>
                                <img src="~/img/star.png" alt="star">
                            </div>
                            <div>
                                <p>
                                    4.9<span>/5</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>






<!-- Maddeler -->
<section class="_Module_Margin">
    <div class="container">
        <div class="_Module_Inner_Pad">
            <h2 class="_Orange_Title">
               Available services
            </h2>
            <div class="_Module_Inner_Pad">
                <div class="_List_Flex">
                    <div class="_List_Item">
                        <div>
                            <img src="~/img/madde1.png" alt="">
                        </div>
                        <div>
                            <h3 class="_Orange_Title">
                                Fast Track
                            </h3>
                            <p>
                                Queue-less passage through security control
                                via dedicated lane
                            </p>
                            <br>
                            <p>
                                Dedicated express lane
                                Queue-less security and passport control
                            </p>
                        </div>
                    </div>
                    <div class="_List_Item">
                        <div>
                            <img src="~/img/madde2.png" alt="">
                        </div>
                        <div>
                            <h3 class="_Orange_Title">
                                Business Lounge
                            </h3>
                            <p>
                                Comfortable premium class waiting areas
                                at the departure halls
                            </p>
                            <br>
                            <p>
                                Dedicated premium class facility

                            </p>
                            <p>
                                Complimentary snacks and drinks
                            </p>
                            <p>
                                Wi-Fi
                            </p>
                            <p>
                                Business corner
                            </p>
                        </div>
                    </div>
                    <div class="_List_Item">
                        <div>
                            <img src="~/img/madde3.png" alt="">
                        </div>
                        <div>
                            <h3 class="_Orange_Title">
                                VIP Transfer
                            </h3>
                            <p>
                                VIP transfer is for those who values high quality and high level of service.
                                Wherever you are in the world Airport Global Transfer Service provides VIP transfer
                                just in time at the address you specified in your request.
                            </p>
                        </div>
                    </div>
                    <div class="_List_Item">
                        <div>
                            <img src="~/img/madde4.png" alt="">
                        </div>
                        <div>
                            <h3 class="_Orange_Title">
                                City Tour
                            </h3>
                            <p>
                                Convenient and flexible cancellation
                                without question up to 24 hours before
                                your tour. Book, download, store and
                                access your tickets conveniently. Free cancellation. Expert guides. Skip-the-line
                                tickets. No cancellation fee.
                            </p>
                        </div>
                    </div>
                    <div class="_List_Item">
                        <div>
                            <img src="~/img/madde5.png" alt="">
                        </div>
                        <div>
                            <h3 class="_Orange_Title">
                                e SIM
                            </h3>
                            <p>
                                Stay connected while travelling
                            </p>
                            <br>
                            <p>
                                Available in 190+ countries
                                Instant purchase and activation
                                The cheapest high speed data plans
                            </p>
                        </div>
                    </div>
                    <div class="_List_Item">
                        <div>
                            <img src="~/img/madde6.png" alt="">
                        </div>
                        <div>
                            <h3 class="_Orange_Title">
                                Upcoming services
                            </h3>
                            <p> Upcoming services</p>
                            <p> Airport parking</p>
                            <p> Airport transfers</p>
                            <p> Baggage services</p>
                        </div>
                    </div>
                    <div class="_List_Item">
                        <div>
                            <img src="~/img/madde7.png" alt="">
                        </div>
                        <div>
                            <h3 class="_Orange_Title">
                                Meet & Greet
                            </h3>
                            <p>
                                Queue-less passage through all pre-flight
                                formalities. Personal escort from the terminal
                                entrance to the aircraft
                            </p>
                            <br>
                            <p>Personal assistant</p>
                            <p>Queue-less check-in, security and passport control</p>
                            <p>Porter service</p>

                        </div>
                    </div>
                    <div class="_List_Item">
                        <div>
                            <img src="~/img/madde8.png" alt="">
                        </div>
                        <div>
                            <h3 class="_Orange_Title">
                                VIP Service
                            </h3>
                            <p>
                                All-inclusive airport Service
                            </p>
                            <br>
                            <p>Dedicated VIP terminal</p>
                            <p>Free parking space</p>
                            <p>Personal assistant</p>
                            <p>Individual check-in, security and</p>
                            <p>passport control</p>
                            <p>Porter service</p>
                            <p>VIP transfer to an aircraft</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Travel Agents -->
<section class="_Module_Margin">
    <div class="container">
        <div class="_Module_Inner_Pad">
            <div class="_Travel_Agents_Main">
                <div class="_Travel_Flex">
                    <div class="Travel_Left">
                        <div class="">
                            <h2>
                                Airport Global Transfer Service
                                for Travel Agents
                            </h2>
                            <p>
                                The easiest way to stand out, boost your profits and increase
                                customer loyalty is to offer airport services in addition to the
                                well-known “flight-transfer-hotel” package.
                            </p>
                            <div class="_Why_Btns justify-content-start">
                                <div><a href="/register" class="_Why_Btn _Active">Join for free now</a></div>
                                @*<div><a href="/" class="_Why_Btn">Learn more</a></div>*@
                            </div>
                        </div>
                    </div>
                    <div class="_Travel_Right">
                        <img src="~/img/grafik.png " alt="">
                    </div>
                </div>
            </div>
            <div class="_Car_Types">
                <h2>
                    Car Types
                </h2>
                <p>
                    Enjoy reliable travel with our many vehicle types. <br>
                    Browse the vehicle models you want to travel with.
                </p>
                <div class="_Car_Slider">
                        <div class="">
                            <img src="https://gettransfer.com/common/transport_types/economy_small.png" alt="car">
                            <p>
                                Economy
                            </p>
                        </div>
                        <div class="">
                            <img src="https://gettransfer.com/common/transport_types/comfort_small.png" alt="car">
                            <p>
                                Comfort
                            </p>
                        </div>
                        <div class="">
                            <img src="https://gettransfer.com/common/transport_types/business_small.png" alt="car">
                            <p>
                               Business
                            </p>
                        </div>
                        <div class="">
                            <img src="https://gettransfer.com/common/transport_types/premium_small.png" alt="car">
                            <p>
                                Premium
                            </p>
                        </div>
                        <div class="">
                            <img src="https://gettransfer.com/common/transport_types/limousine_small.png" alt="car">
                            <p>
                                Limousine
                            </p>
                        </div>
                        <div class="">
                            <img src="https://gettransfer.com/common/transport_types/suv_small.png" alt="car">
                            <p>
                                Suv
                            </p>
                        </div>
                         <div class="">
                            <img src="https://gettransfer.com/common/transport_types/van_small.png" alt="car">
                            <p>
                                Minivan
                            </p>
                        </div>
                         <div class="">
                            <img src="https://gettransfer.com/common/transport_types/minibus_small.png" alt="car">
                            <p>
                                Minibus
                            </p>
                        </div>
                         <div class="">
                            <img src="https://gettransfer.com/common/transport_types/bus_small.png" alt="car">
                            <p>
                                Bus
                            </p>
                        </div>

                </div>
            </div>
        </div>
    </div>
</section>

<!-- Business Agents -->
<section class="_Module_Margin">
    <div class="container">
        <div class="_Module_Inner_Pad">
            <div class="_Travel_Agents_Main">
                <div class="_Business_Flex">
                    <div class="_Business_Left">
                        <div class="">
                            <h2>
                                Less time on booking airport services.
                                More benefits for your travel business
                            </h2>
                            <div class="_Business_Items">
                                <div class="_Business_Item">
                                    <div>
                                        <img src="~/img/ucak.png" alt="Plane Icon">

                                    </div>
                                    <div>
                                        <p>
                                            0$ registration & subscription fee
                                        </p>
                                    </div>
                                </div>
                                <div class="_Business_Item">
                                    <div>
                                        <img src="~/img/ucak.png" alt="Plane Icon">

                                    </div>
                                    <div>
                                        <p>
                                            Reward for each service sold
                                        </p>
                                    </div>
                                </div>
                                <div class="_Business_Item">
                                    <div>
                                        <img src="~/img/ucak.png" alt="Plane Icon">

                                    </div>
                                    <div>
                                        <p>
                                            The prices equal to those at the airports
                                        </p>
                                    </div>
                                </div>
                                <div class="_Business_Item">
                                    <div>
                                        <img src="~/img/ucak.png" alt="Plane Icon">

                                    </div>
                                    <div>
                                        <p>
                                            Instant service booking & confirmation
                                        </p>
                                    </div>
                                </div>
                                <div class="_Business_Item">
                                    <div>
                                        <img src="~/img/ucak.png" alt="Plane Icon">

                                    </div>
                                    <div>
                                        <p>
                                            CRM system for bookings management
                                        </p>
                                    </div>
                                </div>
                                <div class="_Business_Item">
                                    <div>
                                        <img src="~/img/ucak.png" alt="Plane Icon">

                                    </div>
                                    <div>
                                        <p>
                                            Flexible cancellation & rebooking policy
                                        </p>
                                    </div>
                                </div>
                                <div class="_Business_Item">
                                    <div>
                                        <img src="~/img/ucak.png" alt="Plane Icon">

                                    </div>
                                    <div>
                                        <p>
                                            Reduction of transaction & handling costs
                                        </p>
                                    </div>
                                </div>
                                <div class="_Business_Item">
                                    <div>
                                        <img src="~/img/ucak.png" alt="Plane Icon">

                                    </div>
                                    <div>
                                        <p>
                                            Line of credit for all Agents
                                        </p>
                                    </div>
                                </div>
                                <div class="_Business_Item">
                                    <div>
                                        <img src="~/img/ucak.png" alt="Plane Icon">

                                    </div>
                                    <div>
                                        <p>
                                            24/7 multilingual support line
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="_Business_Right">
                        <img src="~/img/pcMockup.png " alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Partnerler -->
<section class="_Module_Margin">
    <div class="container">
        <div>
            <h2 class="_Orange_Title">
                Get access to services in 300+ airports
            </h2>

            <div class="_Module_Inner_Pad">
                <div class="_Partners_Flex">
                    <div class="_Partner_Item">
                        <img src="~/img/partner-0.png" alt="partner">
                    </div>
                    <div class="_Partner_Item">
                        <img src="~/img/partner-1.png" alt="partner">
                    </div>
                    <div class="_Partner_Item">
                        <img src="~/img/partner-2.png" alt="partner">
                    </div>
                    <div class="_Partner_Item">
                        <img src="~/img/partner-3.png" alt="partner">
                    </div>
                    <div class="_Partner_Item">
                        <img src="~/img/partner-4.png" alt="partner">
                    </div>
                    <div class="_Partner_Item">
                        <img src="~/img/partner-5.png" alt="partner">
                    </div>
                    <div class="_Partner_Item">
                        <img src="~/img/partner-6.png" alt="partner">
                    </div>
                    <div class="_Partner_Item">
                        <img src="~/img/partner-7.png" alt="partner">
                    </div>
                    <div class="_Partner_Item">
                        <img src="~/img/partner-8.png" alt="partner">
                    </div>
                    <div class="_Partner_Item">
                        <img src="~/img/partner-9.png" alt="partner">
                    </div>
                    <div class="_Partner_Item">
                        <img src="~/img/partner-10.png" alt="partner">
                    </div>
                    <div class="_Partner_Item">
                        <img src="~/img/partner-11.png" alt="partner">
                    </div>
                </div>
            </div>
            <p class="text-center">
                Are you a service provider?
            </p>
            <div class="_Why_Btns">
                <div><a href="/register" class="_Why_Btn _Active">Join for free now</a></div>
            </div>
        </div>
    </div>
</section>

<!-- Partnerler -->
<section class="_Module_Margin">
    <div class="container">
        <div>
            <h2 class="_Module_Title_h2">
                Partners powered by Airport Global Transfer Service
            </h2>
            <p class="_Module_p _Center">
                Big brands, small travel businesses and 100 000+ passengers worldwide.
            </p>
            <div class="_Module_Inner_Pad">
                <div class="_Partners_Flex justify-content-center">
                    <div class="_Partner_Item">
                        <img src="~/img/visa.png" alt="visa">
                    </div>
                    <div class="_Partner_Item">
                        <img src="~/img/skyup.png" alt="skyup">
                    </div>
                    <div class="_Partner_Item">
                        <img src="~/img/tui.png" alt="tui">
                    </div>
                    <div class="_Partner_Item">
                        <img src="~/img/ttn.png" alt="ttn">
                    </div>
                    <div class="_Partner_Item">
                        <img src="~/img/parkvia.png" alt="parkvia">
                    </div>
                </div>
                <img src="~/img/lufthansacc.png" class="lufthansacc" alt="lufthansacc">
                <p class="_Module_p _Center">
                    Big brands, small travel businesses and 100 000+ passengers worldwide.
                </p>
                <div class="_Partners_Flex justify-content-center">
                    <div class="_Partner_Item">
                        <img src="~/img/aci.png" alt="aci">
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<div id="map"></div>

<section class="_Module_Margin _Orange_Bg">
    <div class="container">
        <div class="_Module_Inner_Space">
            <h2 class="_Module_Title_h2 _White">
                Join Airport Global Transfer Service FOR FREE today
            </h2>
            <div class="_Why_Btns pt-4">
                <div style="width: auto;"><a href="/agencies" class="_Why_Btn _Active">For Travel Agents</a></div>
                @*<div><a href="/" class="_Why_Btn _Active">For Service Providers</a></div>*@
            </div>
        </div>
    </div>
</section>


@section pageJsScript{
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAnqSEVlrvgHJymL-F8GmxIwNbe8fYUjdg&libraries=places&callback=initMap"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
}

@section pageJs{

    <script>
                    @if(ViewBag.Error != null)
            {
                <text>
                     Swal.fire({
                    icon: 'error',
                    title: 'Error!!',
                    text: 'Something went wrong!! Try again ',
                    })
                </text>
            }


        var pickPlaceId;
        var dropPlaceId;

        google.maps.event.addDomListener(window, 'load', initialize);

        function initialize() {
            var input = document.getElementById("_Pick_Up");
            var input2 = document.getElementById("_Drop_Off");

            var autocomplete = new google.maps.places.Autocomplete(input);
            autocomplete.addListener('place_changed', function () {
                var place = autocomplete.getPlace();
                pickPlaceId = place.place_id
                $('#_Pick_Up_Value').val(pickPlaceId)
            });

            var autocomplete2 = new google.maps.places.Autocomplete(input2);

            autocomplete2.addListener('place_changed', function () {
                var place = autocomplete2.getPlace();
                dropPlaceId = place.place_id
                $('#_Drop_Off_Value').val(dropPlaceId)
            });
        }


        
$('form#reservationForm').validate({
    rules: {
        PickValueText: {
            required: true,
        },
        DropValueText: {
            required: true,
        },
        FlightTime: {
            required: true,
        },
        ReturnDate: {
            required: true,
        },
        
        PeopleCount: {
            required: true,
        },
    },
    messages: {
        PickValueText: {
            required: "!"
        },
        DropValueText: {
            required: "!"
        },
        FlightTime: {
            required: "!"
        },
        ReturnDate: {
            required: "!"
        },
        PeopleCount: {
            required: "!"
        }
    },
    submitHandler: function (form) {
            let datas = {
                pickValue: pickPlaceId,
                dropValue: dropPlaceId
            }

            $('#reservationDatas').val(JSON.stringify(datas))

            form.submit()
    },
});


$('.sliderHappySection .sliderHappy').slick({
  dots: false,
  infinite: true,
  arrow: false,
    slidesToShow: 4,
    slidesToScroll: 1,
    autoplay: true,
    autoplaySpeed: 0,
    speed: 6000,
    cssEase: 'linear',
    useTransform: true,
    pauseOnHover: false,
  responsive: [
    {
      breakpoint: 576,
      settings: {
        slidesToShow: 2,
        slidesToScroll: 2
      }
    },
    {
      breakpoint: 480,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    }
    // You can unslick at a given breakpoint now by adding:
    // settings: "unslick"
    // instead of a settings object
  ]
});





// Anasayfadaki araçların slider kodu
//var swiper = new Swiper("._Car_Slider", {
//    slidesPerView: 1,
//    spaceBetween: 10,

//    navigation: {
//        nextEl: ".swiper-button-next",
//        prevEl: ".swiper-button-prev",
//    },
//    breakpoints: {
//        480: {
//            slidesPerView: 1,
//            spaceBetween: 0,
//        },
//        576: {
//            slidesPerView: 2,
//            spaceBetween: 10,
//        },
//        768: {
//            slidesPerView: 3,
//            spaceBetween: 20,
//        },
//        992: {
//            slidesPerView: 4,
//            spaceBetween: 30,
//        },
//        1024: {
//            slidesPerView: 5,
//            spaceBetween: 40,
//        },
//    },

//});
    </script>
}
