@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



<section class="mt-5 _Module_Margin">
    <div class="container">
        <h1 class="_Page_Title mb-4">
            Manage Reservation
        </h1>
        <div class="_Reservatiton_Style">
            <form>
                <div class="_Reservatiton_Form_Flex">
                    <div class="_Pos_Rel">
                        <label for="">Reservation Code</label>
                        <input type="text" name="reservation_code">
                    </div>
                    <div class="_Pos_Rel">
                        <label for="">E-mail</label>
                        <input type="text" name="email">
                    </div>
                </div>
                <button>Search</button>
            </form>
        </div>
    </div>
</section>