@inject IConfiguration Configuration
@{
    ViewData["title"] = "Privacy";
}

@section pageCss{
    <style>
        ._About_Module h2{
            font-size: 1.05rem;
            font-weight: 600;
        }
    </style>
}


<section class="_Module_Margin _About_Module">
    <div class="container">
        <h3>Privacy Policy</h3>
        <h2>1. INTRODUCTION</h2>
        <p>This is&nbsp;Airport Global Transfer&rsquo;s&nbsp;(MYDN GROUP SAĞLIK TURİZM TİCARET LİMİTED ŞİRKETİ)&nbsp;Privacy Policy which describes the manner in which we process, collect, use, maintain, hold and disclose information collected from you when you interact with us, which may include making a booking, communicating with us.</p>
        <p>By using our site and/or using our services, you are agreeing and consenting to the practices described in this Policy. For a better understanding, please read our&nbsp;Cookie Policy&nbsp;and&nbsp;Terms and Conditions.</p>
        <h2>2. KVKK</h2>
        <p>Here at&nbsp;Airport Global Transfer&nbsp;we want all your experiences with us to be in line with our customer promises.&nbsp;Airport Global Transfer&nbsp;are committed to protecting the rights of individuals in line with the Data Protection Act 2018, TURKEY General Data Protection Regulation (TURKEY KVKK).</p>
        <h2>3. WHAT PERSONAL INFORMATION DO WE COLLECT ABOUT YOU?</h2>
        <p>Some information &mdash; such as your Internet Protocol (IP) address and/or browser and device characteristics &mdash; is collected automatically when you visit our site.</p>
        <p>This information does not reveal your specific identity (like your name or contact information) but may include device and usage information, such as your IP address, browser and device characteristics, operating system, language preferences, referring URLs, device name, country, location, information about how and when you use our Services and other technical information. This information is primarily needed to maintain the security and operation of our Services, and for our internal analytics and reporting purposes.</p>
        <p>At the same time we generally collect personal information that you provide to us. We collect personal information that you voluntarily provide to us when you express an interest in obtaining information about us or our products and Services, when you participate in activities on the Services or otherwise when you contact us.&nbsp;</p>
        <p>The personal information that we collect depends on the context of your interactions with us and the Services, the choices you make and the products and features you use. The personal information we collect may include the following:</p>
        <p>We collect a range of personal information from you such as your name, address, email address, date of birth, flight details, pick-up and drop-off adress, accommodation details, debit card and credit card details (although we do not store your full credit, debit card or account details for security reasons). We need this information in order for us to fulfill our contract with you.</p>
        <p>We may collect information necessary to process your payment if you make purchases, such as your payment instrument number (such as a credit card number), and the security code associated with your payment instrument. All payment information is stored by Stripe . You may find their privacy notice link(s) here:&nbsp;<a href="https://www.kvkk.gov.tr/en/">https://www.kvkk.gov.tr/en/</a></p>
        <p>All personal information that you provide to us must be true, complete and accurate, and you must notify us of any changes to such personal information.</p>
        <h2>4. WHY DO WE COLLECT YOUR PERSONAL INFORMATION?</h2>
        <p>We collect your personal information mainly for the purpose of seeking to provide you with a transport solution that meets your needs and to manage your booking. The majority of information is collected solely for the purpose of providing products, access to the website, and to facilitate your transport booking.</p>
        <p>When we collect and use your personal information, we may do it due to:</p>
        <p>-ensure that our services are tailored to your specific needs;</p>
        <p>-maintain our customer records;</p>
        <p>-allow you to participate in Airporttransfer activities;</p>
        <p>-respond to any request for products or services;</p>
        <p>-fulfil booking requests placed with Airporttransfer by any means (including through our website or app when available);</p>
        <p>-provide newsletters, marketing e-mails and text messages;&nbsp;</p>
        <p>-provide confirmation e-mails and text messages regardin to our Services;</p>
        <p>-maintain a record of enquiries, complaints and adverse event reports relating to your booking and transport experience.</p>
        <h2>5. WHO DO WE SHARE YOUR PERSONAL INFORMATION WITH?</h2>
        <p>We are serious about protecting your personal information. For that reason, we do not share the personal information you provide to us, except as outlined in this policy.</p>
        <p>For example, we will share with your chosen Transfer Company the following information: name, email address, (although we strive to do so in hashed (disguised) form&mdash; so that your actual email address is not be disclosed to the Transport Company) phone number, flight number, pick-up and drop-off adress. We do so to facilitate your transport booking. The Transfer Company needs this information to carry out your journey, which includes, to pick you up and drop you off at the right places and at the right time. Please be aware that your chosen Transfer Company may contact you to confirm, arrange and organise your booked trip. After you make a booking, we are able to review email communications between you and your chosen Transport Company in connection with the booking. This can be helpful if there is any misunderstanding between you and your chosen Transport Company in connection with a booking. Please note that we will never share your payment details with anyone except as necessary to process your payment for our services.</p>
        <p>We may share some information from you such as your search information, preferred browser etc with our business partners.&nbsp;</p>
        <p>Our main business location is in UK but we do business in a number of countries and some of our group companies may be based in other countries. When our business that collected your personal information is in a different country to your location or when you choose to make a booking with a transport company for transport services in a country outside of UK; we may allow your personal information to be shared with those who are in countries other than your own location.&nbsp;</p>
        <p>We may share your personal information with trusted third parties such as the third party partners and trusted sub-contractors of the transport services and/or extras for the purpose of processing and managing your booking.</p>
        <p>We may employ the services of a third party to help us in certain areas, such as website hosting, direct e-mail and text messages services. In some cases, the third party may receive your information. (as an example; Stripe about your payment) However, at all times, we will act as controllers and will be responsible for the use of your information.</p>
        <p>We may use your information if we are under a legal duty to disclose this; or in order to enforce our website terms of use and any other agreement; and/or to protect the rights of Airporttransfer.&nbsp;</p>
        <p>We have made sure that we have taken ICO compliant safeguards to ensure your information is protected.</p>
        <h2>6. HOW LONG DO WE STORE YOUR PERSONAL INFORMATION?</h2>
        <p>We respect your privacy and store your information for as long as necessary to fulfill the purposes outlined in this privacy notice unless otherwise required by law.</p>
        <p>We will only store your personal information for as long as it is necessary for the purposes set out in this privacy notice, unless a longer retention period is required or permitted by law (such as tax, accounting or other legal requirements). But we will never store your payment information. We use it only for the sole purpose of making and processing your booking and when you are done to booking, all payment information will be deleted totally.&nbsp;</p>
        <p>When we have no ongoing legitimate business need to process your personal information, we will either delete or anonymize such information. At the same time we will never store your private informations. (as an example your age, your race, your nationality etc.)</p>
        <p>We must store tax, receipts, bills records that show the date and the amount for 5 years after the deadline. (due to the legal requirements)</p>
        <p>Also if you allow us to send you offers and news by selecting the opt-in option during your membership process, we will store your email address alongside your travel details until you unsubscribe from our commercial electronic consent list. These marketing e-mails and text messages are commercial messages, excluding the service and confirmation messages we provide, and you can unsubscribe at any time you wish.</p>
        <h2>7. HOW DO WE STORE YOUR INFORMATION SAFE?</h2>
        <p>We have implemented appropriate technical and organizational security measures designed to protect the security of any personal information we process. However, despite our safeguards and efforts to secure your information, no electronic transmission over the Internet or information storage technology can be guaranteed to be 100% secure, so we cannot promise or guarantee that hackers, cybercriminals, or other unauthorized third parties will not be able to defeat our security, and improperly collect, access, steal, or modify your information. Although we will do our best to protect your personal information, transmission of personal information to and from our Services is at your own risk. You should only access the Services within a secure environment.</p>
        <h2>8. DO WE COLLECT INFORMATION FROM MINORS?</h2>
        <p>We do not knowingly solicit information from or market to children under 18 years of age. By using the Services, you represent that you are at least 18 or that you are the parent or guardian of such a minor and consent to such minor dependent&rsquo;s use of the Services. If we learn that personal information from users less than 18 years of age has been collected, we will deactivate the account and take reasonable measures to promptly delete such information from our records. If you become aware of any information we may have collected from children under age 18, please contact us at&nbsp;info@airportglobaltransfer.com</p>
        <h2>9. WHAT ARE YOUR PRIVACY RIGHTS?</h2>
        <p>In some regions (like the EEA and UK), you have certain rights under applicable&nbsp;information&nbsp;protection laws. These may include the right (i) to request access and obtain a copy of your personal information, (ii) to request rectification or erasure; (iii) to restrict the processing of your personal information; and (iv) if applicable, to&nbsp;information&nbsp;portability. In certain circumstances, you may also have the right to object to the processing of your personal information. To make such a request, please use the contact details provided below. We will consider and act upon any request in accordance with applicable&nbsp;information&nbsp;protection laws.</p>
        <p>If we are relying on your consent to process your personal information, you have the right to withdraw your consent at any time. Please note however that this will not affect the lawfulness of the processing before its withdrawal, nor will it affect the processing of your personal information conducted in reliance on lawful processing grounds other than consent.</p>
        <p>You have a right to access your personal information, to object to the processing of your personal information, to rectify, to erase, to restrict and to port your personal information. Please visit&nbsp;<a href="https://www.kvkk.gov.tr/en/">https://www.kvkk.gov.tr/en/</a> for further information in relation to your rights.</p>
        <p>Any requests or objections should be made in writing to the&nbsp;privacy@airporttransfer.com&nbsp;please do this by requesting and completing a Subject Access Request.</p>
        <h2>10. EXTERNAL LINKS</h2>
        <p>Our site contains external links to other web sites over which we have no control. We are not responsible for privacy policies, practices or content of other websites to which you choose to link from this site. If you have any concerns about your privacy on other sites, we encourage you to review the privacy policies of those other websites so you can understand how they collect, use and share your information.</p>
        <h2>11. THIRD PARTY ADVERTISING</h2>
        <p>We may use a third party to serve advertisements on our site. Cookies may be associated with these advertisements to enable the advertiser to track the number of anonymous users responding to the campaign. We do not have access to or control of cookies placed by third parties.</p>
        <h2>12. LIMITS OF THIS POLICY</h2>
        <p>This is a policy only.&nbsp;&nbsp;there may be additional privacy notices and terms relevant to you depending on the nature of your dealings with us.&nbsp;</p>
        <h2>13. ABOUT US</h2>
        <p>If you have any question or enquiries please contact us at&nbsp;info@airportglobaltransfer.com</p>
        <p>Also if you are not happy in the way hoppa has handled your request or you can make a complaint about the way hoppa are using your personal information you have the right to lodge a complaint with a supervisory authority; ICO&nbsp;<a href="https://www.kvkk.gov.tr/en/">https://www.kvkk.gov.tr/en/</a></p>
        <h2>14. LAST UPDATED</h2>
        <p>We update this policy from time to time, so please refer to this page regularly. This page was last updated on 9 March of 2022.</p>
        <p>&nbsp;</p>
    </div>
</section>
