


<section class="_Module_Margin _About_Module">
    <div class="container">
        <h3>Privacy Policy</h3>
        <p>
            Airport Global Transfer Service, company established under the laws of Yahyakemal, Talatpaşa Cd.
            NO:362/A, 34410 K&acirc;ğıthane/İstanbul &nbsp;(hereinafter referred to as: &laquo;AİRPORT GLOBAL
            TRANSFER SERVİCE&raquo;, &laquo;we&raquo;;, &laquo;us&raquo;; or &laquo;our&raquo;;) is committed to
            protecting and respecting your privacy.
        </p>
        <p>
            This Privacy Policy (together with our Terms of Use published on our website <a href="https://www.airportglobaltransfer.com/">https://www.airportglobaltransfer.com/</a>(hereinafter
            referred to as: &laquo;Website&raquo;;) and any other documents referred to on it) sets out the basis on
            which any personal data we collect from you, or that you provide to us, will be processed by us. This
            Privacy Policy applies to our online service for the use of the Airport Global Transfer Service,
            accessible via our Website (hereinafter referred to as: &laquo;Airport Global Transfer Service&raquo;),
            provided by AİRPORT GLOBAL TRANSFER SERVİCE (hereinafter referred to as: the &laquo;Services&raquo;).
        </p>
        <p>
            Please read the following carefully to understand our views and practices regarding your personal data
            and how we will treat it. By visiting the Website, Airport Global Transfer Service and accessing and
            using the Services, you are accepting and consenting to the practices described in this Policy.
        </p>
        <p>
            We reserve the right to amend or modify this Privacy Policy at any time and in response to changes in
            applicable law or our business practices.
        </p>
        <p>
            Any changes we may make to our Privacy Policy in the future will be posted on this page and, when
            appropriate and necessary, notified to you by e-mail. Please check back frequently to see any updates or
            changes to our Privacy Policy.
        </p>
        <p>Information we may collect from you</p>
        <p>We may collect and process the following data about you as a User as defined in the Terms of Use:</p>
        <p>Information you give us</p>
        <p>
            We require people who register to Airport Global Transfer Service to access and use the Services to give
            us certain contact information and information necessary for provision of our Services.
        </p>
        <p>
            Depending on the services chosen, you may be asked to provide the following personal identifiable
            information: your name and family name, number of flight and date and time of arrival, phone number,
            email address; to identify Users of the Services and to better serve the Users.
        </p>
        <p>
            If you believe that someone has provided us with your personal information and you would like to request
            that it be removed from our database, please contact us at <a href="mailto:info@airportglobaltransfer.com">info@airportglobaltransfer.com</a>. We will hold the
            above information for as long as is necessary in order to provide you with the service on the Website
            and Airport Global Transfer Service, deal with any specific issues that you may raise or otherwise as is
            required by the applicable law.
        </p>
        <p>Information we collect about you</p>
        <p>
            With regard to each of your visits to the Website and access the Services we may automatically collect
            the following information:
        </p>
        <p>
            information about your visits, including the full Uniform Resource Locators (URL) clickstream to, through
            and from the Website (including date and time); products you viewed or searched for; page response
            times, download errors, length of visits to certain pages, page interaction information (such as
            scrolling, clicks, and mouse- overs), and methods used to browse away from the page; and technical
            information, including the internet protocol (IP) address used to connect your computer to the internet,
            your login information, browser type and version, time zone setting, browser plug-in types and versions,
            operating system and platform; Information with regard to the provision of Services we might receive
            from any other sources.
        </p>
        <p>
            We may receive information about you from publicly available sources. We are also working closely with
            third parties (including, for example, business partners, sub-contractors in technical, payment and
            delivery services, advertising networks, analytics providers, search information providers) and may
            receive information about you from them.
        </p>
        <p>Cookies</p>
        <p>
            The Website uses cookies to distinguish you from other users of the Website. This helps us to provide you
            with a good experience when you browse the Website and also allows us to improve the Website. For
            detailed information on the cookies we use and the purposes for which we use them see our Cookie Policy
            below.
        </p>
        <p>Uses made of the information</p>
        <p>We use information held about you in the following ways:</p>
        <p>
            &bull;to provide you with Services offered through the Website and the Airport Global Transfer Service;
        </p>
        <p>
            &bull;to provide you with information about other services that you request or that we offer which are
            similar to those that you have already purchased/provided or enquired about;
        </p>
        <p>&bull;to notify you about changes to our Services;</p>
        <p>
            &bull;to ensure that content from the Website and Airport Global Transfer Service is presented in the
            most effective manner for you and for your computer;
        </p>
        <p>&bull;to prevent fraud and other prohibited or illegal activities;</p>
        <p>
            &bull;to protect the rights and safety of our affiliated entities and third parties, as well as our own;
        </p>
        <p>&bull;to monitor compliance with our Terms of Use;</p>
        <p>&bull;to ensure you receive information relevant to you;</p>
        <p>
            &bull;to administer the Website and Airport Global Transfer Service for internal operations, including
            troubleshooting, data analysis, testing, research, statistical and survey purposes;
        </p>
        <p>&bull;to allow you to participate in interactive features of our Services, when you choose to do so;</p>
        <p>
            &bull;as part of our efforts to keep the Airport Global Transfer Service and the Website safe and secure.
        </p>
        <p>1. Disclosure of your information</p>
        <p>
            We do not distribute or share any customer personal information, except as outlined in this Privacy
            Policy (see below), or as may be required by law and when we believe that disclosure is necessary to
            protect our rights and/or to comply with a judicial proceeding, court order, or legal process.
        </p>
        <p>
            We use the information we collect to set up the Services for individuals and their organizations. We may
            also use the information to contact customers and prospects to further discuss their interest in our
            company, the services we provide, ways we can improve our Services, and send information such as
            announcements of promotions and events regarding AİRPORT GLOBAL TRANSFER SERVİCE or our partners.
        </p>
        <p>
            We may also email you a newsletter and/or updates about the Services or the company. You can easily opt
            out of receiving these communications by clicking the hyperlink at the bottom of each message, or at any
            time by contacting us at <a href="mailto:info@airportglobaltransfer.com">info@airportglobaltransfer.com</a>.
        </p>
        <p>
            We may disclose your personal information to third parties in the following events and with the following
            persons:
        </p>
        <p>
            &bull;With the provider of the services (Airport) that you book via our Airport Global Transfer Service,
            for the purpose of performance of such booked services;
        </p>
        <p>&bull;With Google Analytics (for the purpose of analyzing the visits to our site);</p>
        <p>
            &bull;if AİRPORT GLOBAL TRANSFER SERVİCE or substantially all of its assets are acquired by a third
            party, in which case personal data held by it about its customers and users will be one of the
            transferred assets;
        </p>
        <p>
            &bull;if we are under a duty to disclose or share your personal data in order to comply with any legal
            obligation;
        </p>
        <p>
            &bull;to keep you up-to-date on the latest service announcements, updates, special offers or other
            information that we think you&rsquo;d like to hear, either from us, our business partners or third
            parties.
        </p>
        <p>&bull;in order to enforce or apply our Terms of Use and any other relevant agreements;</p>
        <p>
            &bull;or to protect the rights, property, or safety of AİRPORT GLOBAL TRANSFER SERVİCE, our customers, or
            others. This includes exchanging information with other companies and organisations for the purposes of
            fraud protection and credit risk reduction; or
        </p>
        <p>&bull;as otherwise outlined in this Privacy Policy.</p>
        <p>
            We will not otherwise provide your personal data to a third party without obtaining your prior consent.
        </p>
        <p>Correcting, Deleting and Updating Your Information</p>
        <p>
            Upon request, we will provide you with information about whether we hold or process any of your personal
            information, whether on behalf of a third party or otherwise. To request this information, please
            contact us at <a href="mailto:info@airportglobaltransfer.com">info@airportglobaltransfer.com</a>.
        </p>
        <p>
            If your personally identifiable information changes, or if you no longer desire our Services, you may
            correct, update, discontinue the use of our Services or delete it by making the change on our member
            information page or by emailing our Customer Support at <a href="mailto:info@airportglobaltransfer.com">info@airportglobaltransfer.com</a>. We will respond to
            your request to access within 30 days.
        </p>
        <p>
            We will retain your information for as long as your account is active or as needed to provide you the
            Services. We will retain and use your information as necessary to comply with our legal obligations,
            resolve disputes, and enforce our agreements.
        </p>
        <p>
            We may use third-party intermediaries to manage credit card payment processing. These intermediaries are
            solely links into the distribution chain. They are not permitted to store, retain, or use the
            information provided, except for the sole purpose of credit card processing and shall comply with all
            applicable data protection laws and regulations as well as terms and security standards as outlined in
            their own privacy policies at <a href="https://every-pay.com/privacy-policy/">https://every-pay.com/privacy-policy/</a>
        </p>
        <p>
            We use a third-party platform host, who hosts the forms on our site, they do not have any access to the
            personal information that you submit on our Website.
        </p>
        <p>
            We may enable the Users the possibility to use the Services to host data and information. We will not
            review, share, distribute, print, or reference any such data except as provided in this Privacy Policy
            or Terms of Use for the Airport Global Transfer Service, or as may be required by law.
        </p>
        <p>
            We will view or access individual records only with your permission (for example, to resolve a problem or
            support issue). Users of the Services are responsible for maintaining the confidentiality and security
            of their user registration and passwords.
        </p>
        <p>2. Where we store your personal data</p>
        <p>
            The data that we collect will be stored on the cloud based in the European Economic Area
            (&quot;EEA&quot;). We will take all steps reasonably necessary to ensure that your data is treated
            securely and in accordance with this Privacy Policy.
        </p>
        <p>
            Please note that by visiting and using the Website and Airport Global Transfer Service, and giving us
            your personal data, you consent to your personal data being collected, used, processed, disclosed and
            stored by us, only as described in the Terms of Use and this Privacy Policy.
        </p>
        <p>3. Safeguarding personal data</p>
        <p>
            The communication internally between our servers (e.g. between application server and database) is
            handled via secure socket layer (&quot;SSL&quot;) to provide AE-256 encryption and all information
            between our servers and your browser is handled via SSL (up to 256-bit encryption, depending upon your
            browser), providing an industry-standard level of protection for data in- transit.
        </p>
        <p>You should always make sure that your browser can validate the Website&rsquo;s certificate.</p>
        <p>
            All encrypted data is signed using a message authentication code (MAC) so that the underlying value
            cannot be modified once encrypted.
        </p>
        <p>
            We also implement an advanced security method based on dynamic data and encoded session identifications
            and hosts the Services in a secure server environment using preventive, detective and corrective
            technology and processes to safeguard information from attackers. Finally, we require unique usernames
            and passwords that must be entered each time a customer logs on. These safeguards help prevent
            unauthorized access, maintain data accuracy, and ensure the appropriate use of data.
        </p>
        <p>
            The security of your personal information is important to us. When you enter sensitive information such
            as credit card number our registration or order forms, we encrypt that information using transport layer
            security (TLS) technology. We also encrypt any information entered within the Service once users log
            into their accounts. If you have any questions about security on our Website and Airport Global Transfer
            Service, you can contact us at <a href="mailto:info@airportglobaltransfer.com">info@airportglobaltransfer.com</a>.
        </p>
        <p>Any payment transactions will be processed securely by third party payment providers.</p>
        <p>
            Where we have given you (or where you have chosen) a password which enables you to access certain parts
            of the Website and Airport Global Transfer Service, you are responsible for keeping this password
            confidential.
        </p>
        <p>Your passwords are stored on our servers in encrypted form using a one-way hashing algorithm.</p>
        <p>
            Please be reminded that you must protect any passwords or other credentials associated with your account
            for the Services and take full responsibility for any use of the account under your password. We ask you
            not to share your password with anyone.
        </p>
        <p>
            Unfortunately, the transmission of information via the internet is not completely secure and we cannot
            guarantee the security of your data transmitted to the Website, although we will do our best to protect
            your personal data. Once we have received your information, we will use strict procedures and security
            features to try to prevent unauthorized access.
        </p>
        <p>4. Your rights and access to information</p>
        <p>
            You may ask us not to process your personal data for a particular purpose, or to access such information,
            by contacting us at <a href="mailto:info@airportglobaltransfer.com">info@airportglobaltransfer.com</a>.
            Please note, however, that you shall remain liable for any fees or costs incurred at the time of the
            withdrawal of your consent to process your personal data.
        </p>
        <p>The Website may, from time to time, contain links to other third party websites.</p>
        <p>
            If you follow a link to any of these websites, please note that these websites have their own privacy
            policies (including, as the case may be, landing pages of other Airport Global Transfer Service products
            or services; i.e. other than Airport Global Transfer Service) and that we do not accept any
            responsibility or liability in respect of these policies.
        </p>
        <p>Please check these policies before you submit any personal data to these websites.</p>
        <p>5. Information about our use of cookies</p>
        <p>
            Our Website uses cookies to distinguish you from other users of the Website. This helps us to provide you
            with a good experience when you browse the Website and also allows us to improve our site. By continuing
            to browse the site, you are agreeing to our use of cookies.
        </p>
        <p>
            A cookie is a small file of letters and numbers that we store on your browser or the hard drive of your
            computer if you agree. Cookies contain information that is transferred to your computer&apos;s hard
            drive.
        </p>
        <p>We use the following cookies:</p>
        <p>
            Strictly necessary cookies. These are cookies that are required for the operation of the Website and
            Airport Global Transfer Service. They include, for example, cookies that enable you to log into secure
            areas of the Website, use a shopping cart or make use of e-billing services.
        </p>
        <p>
            Analytical/performance cookies. They allow us to recognise and count the number of visitors and to see
            how visitors move around the Website and Airport Global Transfer Service
        </p>
        <p>
            when they are using it. This helps us to improve the way the Website works, for example, by ensuring that
            users are finding what they are looking for easily.
        </p>
        <p>
            Functionality cookies. These are used to recognize you when you return to the Website and Airport Global
            Transfer Service. This enables us to personalize our content for you, greet you by name and remember
            your preferences (for example, your choice of language or region).
        </p>
        <p>
            You can find more information about the individual cookies we use and the purposes for which we use them
            in the table below:
        </p>
        <p>Cookie Name&nbsp; &nbsp;&nbsp;Cookie Type&nbsp; &nbsp;&nbsp;Purpose&nbsp; &nbsp;&nbsp;Expiry</p>
        <p>
            .AspNet. Application Cookie&nbsp; &nbsp;&nbsp;HTTP Cookie&nbsp; &nbsp;&nbsp;Using for user
            authentication&nbsp; &nbsp;&nbsp;14 days
        </p>
        <p>
            __Request Verification Token&nbsp; &nbsp;&nbsp;HTTP Cookie&nbsp; &nbsp;&nbsp;Using for CSRF attack
            prevention&nbsp; &nbsp;&nbsp;Session
        </p>
        <p>
            Please note that third parties (including, for example, advertising networks and providers of external
            services like web traffic analysis services) may also use cookies, over which we have no control. These
            cookies are likely to be analytical/performance cookies or targeting cookies.
        </p>
        <p>
            You block cookies by activating the setting on your browser that allows you to refuse the setting of all
            or some cookies. However, if you use your browser settings to block all cookies (including essential
            cookies) you may not be able to access all or parts of our site.
        </p>
        <p>6. Opt-Out Statement</p>
        <p>
            We offer you a means to choose how we may use the information you provide. If, at any time after
            registering for information or ordering the Services, you change your mind about receiving certain email
            communications from us or about sharing personal information with third parties, unsubscribe from such
            promotional emails by clicking the link provided at the bottom of each of such email (or send us a
            request to opt-out from receiving promotional emails or from having your personal information shared
            with third parties; you can send your request to <a href="mailto:info@airportglobaltransfer.com">info@airportglobaltransfer.com</a>).
        </p>
        <p>7. Social Media Widgets</p>
        <p>
            Our Website and Airport Global Transfer Service may include Social Media Features, such as the Facebook
            button and Widgets, such as the Share this button or an interactive mini-programs that run on our site.
            These features may collect your IP address, which page you are visiting on our site, and may set a
            cookie to enable the Feature to function properly. Social Media Features and Widgets are either hosted
            by a third party or hosted directly on our Website. Your interactions with these Features are governed
            by the privacy policy of the company providing it.
        </p>
        <p>8. Additional Information</p>
        <p>
            Questions regarding this Privacy Policy or the security practices of the Services should be directed at
            e-mail address <a href="mailto:info@airportglobaltransfer.com">info@airportglobaltransfer.com</a>.
        </p>
        <p>9. Contact Information</p>
        <p>
            If you have questions, concerns or suggestions related to our Privacy Policy or our privacy practices you
            may contact us at: <a href="mailto:info@airportglobaltransfer.com">info@airportglobaltransfer.com</a>.
        </p>
        <p><br></p>
    </div>
</section>
