<section>
    <div style="background: var(--orange);" class="register_banner">
           <div class="container">
               <p>
                Would you like to register as <a href="/Agencies">transfer company</a>
               </p>
           </div>
    </div>
</section>
<section class="_Module_Margin">
    <div class="container">
        <form id="_Register_Form" asp-route="personRegister" method="post">
            <div class="_Register_Flex">
                <div class="_Register_Input_Div">
                    <label class="_Register_Label">Name</label>
                    <input type="text" name="name">
                </div>
                <div class="_Register_Input_Div">
                    <label class="_Register_Label">E-mail</label>
                    <input type="text" name="eposta">
                </div>
                <div class="_Register_Input_Div">
                    <label class="_Register_Label">Phone</label>
                    <input type="text" name="phoneNumber">
                </div>
                <div class="_Register_Input_Div">
                    <label class="_Register_Label">Password</label>
                    <input type="password" name="password">
                </div>
                <div class="_Check_Main">
                    <div class="_Check_Div">
                        <input type="checkbox" name="c1"> <label for="">
                            By clicking “Register”, you indicate that you have
                            agreed to all Terms and Conditions. *
                        </label>
                    </div>
                    <div class="_Check_Div">
                        <input type="checkbox" name="c2"> <label for="">
                            By clicking “Register”, you indicate that you have
                            agreed our Privacy Policy. *
                        </label>
                    </div>
                </div>
                <div>
                    <button type="submit">
                        Register
                    </button>
                </div>
            </div>
        </form>
    </div>
</section>

@section pageJs{
    <script>

        @if (ViewBag.Message == "success")
        {
            <text>
                Swal.fire({
                    icon: 'success',
                    title: 'Success',
                    text: 'Successfully Created Your Account',
                })
            </text>
        }else if (ViewBag.Message == "email")
        {
            <text>
                Swal.fire({
                    icon: 'warning',
                    title: 'Warning',
                    text: 'An account has already been created with this email.',
                })
            </text> 
        }

            var cleave = new Cleave('[name="phoneNumber"]', {
                numericOnly: true,
                blocks: [15]
            });
    </script>

}
