@{
    ViewData["title"] = "Register";
}
@section pageCSSLink{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
}

@*<section>
    <div style="background: var(--orange);" class="register_banner">
        <div class="container">
            <p>
                Would you like to register as <a href="/Agencies">transfer company</a>
            </p>
        </div>
    </div>
</section>*@
<section class="_Module_Margin">
    <div class="container">
        <form id="_Register_Form">
            <div class="_Register_Flex">
                <div class="_Register_Input_Div">
                    <label class="_Register_Label">Name</label>
                    <input type="text" name="name">
                </div>
                <div class="_Register_Input_Div">
                    <label class="_Register_Label">E-mail</label>
                    <input type="text" name="eposta">
                </div>
                <div class="_Register_Input_Div _Pos_Phone">
                    <label class="_Register_Label">Phone</label>
                    <input type="text" name="phoneNumber" id="textPhone">
                </div>
                <input type="hidden" id="realPhoneInpt" name="RealPhone" />
                <div class="_Register_Input_Div ">
                    <label class="_Register_Label">Password</label>
                    <input type="password" name="password">
                </div>
                <div class="_Check_Main">
                    <div class="_Check_Div">
                        <input type="checkbox" name="c1"> <label for="">
                            By clicking “Register”, you indicate that you have
                            agreed to all Terms and Conditions. *
                        </label>
                    </div>
                    <div class="_Check_Div">
                        <input type="checkbox" name="c2"> <label for="">
                            By clicking “Register”, you indicate that you have
                            agreed our Privacy Policy. *
                        </label>
                    </div>
                </div>
                <div>
                    <button type="submit">
                        Register
                    </button>
                </div>
            </div>
        </form>
    </div>
</section>

@section pageJsScript{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
}

@section pageJs{
    <script>
        $('#_Register_Form').on("submit", function (e) {
            e.preventDefault();
            if ($(this).valid()) {
                var formData = $(this).serialize()
                $.ajax({
                    url: '@Url.Action(nameof(Airport.UI.Controllers.HomeController.Register))',
                    type: "POST",
                    data: formData,
                    success: function (response) {
                        if (response.result == 1) {
                            Swal.fire({
                                icon: 'success',
                                title: 'Success',
                                text: 'Successfully Created Your Account',
                            }).then(() => {
                                location.href = "/";
                            })
                        } else if (response.result == 2) {
                            Swal.fire({
                                icon: 'warning',
                                title: 'Warning',
                                text: 'This email is already registered',
                            })
                        } else {
                            Swal.fire({
                                icon: 'Error',
                                title: 'Error',
                                text: 'Something is Wrong!!',
                            })
                        }
                    }
                });
            }
        })

        const phoneInputField = document.querySelector("input[name='phoneNumber']");
        const phoneInput = window.intlTelInput(phoneInputField, {
            utilsScript:
                "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",

        });

        $('#textPhone').on("change keypress keyup countrychange", function () {
            $('#realPhoneInpt').val(phoneInput.getNumber().replace("+", ""))
        })


        var cleave = new Cleave('[name="phoneNumber"]', {
            numericOnly: false,
            blocks: [15]
        });
    </script>

}
