<section class="_Module_Margin _About_Module">
    <div class="container">
        <h3>TERMS AND CONDITIONS</h3>
        <p>1. General Provisions</p>
        <p>
            1.1. These Terms and Conditions, which may be amended from time to time (hereinafter referred to as the
            Terms), govern your access or use of our applications, websites, tools, platforms and / or other devices
            (Aırport Global Transfer Servıce Service, as defined below) provided by Aırport Global Transfer Servıce
            Europe O&Uuml; directly or indirectly (through distributors, subagents, other entities). &nbsp;
        </p>
        <p>
            1.2. By accessing, viewing and using the Aırport Global Transfer Servıce Service through our website or
            any of our applications or in any other way and / or by booking, you acknowledge and agree that you have
            read and understood these Terms, and you agree to follow them. If you do not agree to these Terms, you
            cannot access or use the Aırport Global Transfer Servıce Service.
        </p>
        <p>1.3. The following definitions are applied in these Terms:</p>
        <p>
            &bull;You / user(s) &ndash; the person or persons, booking the Airport Services through the Aırport
            Global Transfer Servıce Service.
        </p>
        <p>
            &bull;Aırport Global Transfer Servıce Service is an online booking system (Aırport Global Transfer
            Servıce.aero website, websites, applications, tools, platforms and / or other devices), through which
            users can book Airport Services.
        </p>
        <p>
            &bull;Airport Services refer to various airport services (for example, VIP lounge, VIP terminal, business
            lounge, Fast-track and similar Airport Services) or any other services provided by Service Providers,
            which you can book using Aırport Global Transfer Servıce Service.
        </p>
        <p>&bull;Service Provider(s) &ndash; an Airport Services provider.</p>
        <p>
            &bull;Information about Airport Services &ndash; the conditions of the Service Providers, according to
            which the booked Airport Service is booked, provided, or cancelled, the Service Providers deny provision
            of the booked Airport Service to the user or the user refuses to receive the booked Airport Service,
            repayments are made, and which are mandatory for review and execution by users.
        </p>
        <p>
            &bull;Aırport Global Transfer Servıce Europe O&Uuml; is a company established under the laws of Estonia
            with registration number 14732451 and legal address at Vahulille 6/2-35, Tallinn, 12015, Estonia
            (hereinafter referred to as &ndash; &laquo;AIRPORT GLOBAL TRANSFER SERVICE&raquo;), which administers
            the Aırport Global Transfer Servıce Service.
        </p>
        <p>
            Booking ID is a unique bar code / numeric and alphabetic / QR code that confirms the booking of the
            Airport Services by the user through the Aırport Global Transfer Servıce Service and grants the user the
            right to receive the Airport Services according to the conditions of its booking.
        </p>
        <p>
            &bull;Payment operator is a payment service of banks and / or financial institutions, intended to
            simplify settlements between individuals, legal entities and / or individual entrepreneurs on the
            Internet by using personal computers and / or other mobile devices, through which users pay for Airport
            Services.
        </p>
        <p>
            1.4. These Terms apply only when booking Airport Services, which are rendered by Service Providers in
            Europe.
        </p>
        <p>
            1.5. The Aırport Global Transfer Servıce Service is available only for personal and non-commercial use
            and is intended solely for persons over 18 years old. By using the Aırport Global Transfer Servıce
            Service you acknowledge and warrant that you use the Aırport Global Transfer Servıce Service for
            personal and non-commercial use, and that you are at least 18 years old.
        </p>
        <p>2. Booking Airport Services</p>
        <p>
            2.1. Airport Services can only be booked by users registered with the Aırport Global Transfer Servıce
            Service, for which users must provide valid personal data requested (such as full name, telephone number
            and email address). When registering in the Aırport Global Transfer Servıce Service, each user creates a
            personal user account.
        </p>
        <p>
            2.2. You acknowledge and agree that any person, whom you allowed to use your personal user account or
            whom you have provided personal data on your personal user account in the Aırport Global Transfer
            Servıce Service (login and password) can access and use the Aırport Global Transfer Servıce Service on
            your behalf, and that you will be fully responsible for any actions (including the booking of the
            Airport Services and payment) performed by such a person.
        </p>
        <p>
            2.3. By booking the Airport Services through the Aırport Global Transfer Servıce Service, the user enters
            into direct (legally binding) contractual relations with the Provider, whose Services he or she has
            booked. AIRPORT GLOBAL TRANSFER SERVICE acts solely as an intermediary between the User and the Service
            Provider, transferring the terms of the user&apos;s booking to the appropriate Provider, sends the
            booking confirmation (Booking ID) to the user in the name and on behalf of the Service Provider, and
            ensures payment acceptance (with the help of the Payment Operator) when paying for the Airport Services.
            You agree and are fully acknowledge that under any circumstances AIRPORT GLOBAL TRANSFER SERVICE is not
            a party to any agreement for the provision of Airport Services between you and the Service Provider.
        </p>
        <p>
            2.4. The rules for booking and providing airport services are published on the Aırport Global Transfer
            Servıce Service in the Information about Airport Services. If you do not agree with these rules for
            booking and providing Airport Services, you may not book Airport Services.
        </p>
        <p>
            2.5. Any Information about Airport Services provided or published on the Aırport Global Transfer Servıce
            Service regarding Airport Services is provided or published by the relevant Service Provider. The
            Provider shall be fully and solely responsible for the accuracy and relevance of the Information about
            the Airport Services, including, but not limited to: for updating all prices, availability of Airport
            Services, conditions of booking cancellation, conditions of the Provider&apos;s denial to provide
            Services and the user&apos;s refusal to receive Services, chargeback policy and other information about
            the Airport Services available for booking through the Aırport Global Transfer Servıce Service. AIRPORT
            GLOBAL TRANSFER SERVICE does not and cannot guarantee that the Information about Services published by
            the Providers on the Aırport Global Transfer Servıce Service is accurate, complete or correct. AIRPORT
            GLOBAL TRANSFER SERVICE is not responsible for the verification of the Information about Services
            published by Service Providers on the Aırport Global Transfer Servıce Service.
        </p>
        <p>
            2.6. Any information displayed on the Aırport Global Transfer Servıce Service is not and should not be
            construed as a recommendation or approval of AIRPORT GLOBAL TRANSFER SERVICE (as the administrator of
            the Aırport Global Transfer Servıce Service) of any Provider or any Airport Services.
        </p>
        <p>2.7. To complete the booking, you must pay the full cost of the Airport Services.</p>
        <p>
            2.8. By booking, you confirm that you have read and unconditionally agree with the rules for booking and
            providing airport services, the terms of Cancellations and Denials, the chargeback policy of your
            Service Provider.
        </p>
        <p>
            2.9. By booking, you also agree to receive additional information about the Airport Services booked, as
            well as information about our special offers and other promotional emails (in accordance with our
            privacy policy).
        </p>
        <p>3. Cost of the Airport Services and the terms of payment</p>
        <p>
            3.1. Unless otherwise expressly stated, all prices for Airport Services listed on the Aırport Global
            Transfer Servıce Service include VAT and all other applicable taxes.
        </p>
        <p>
            3.2. The automatic currency converter available on the Aırport Global Transfer Servıce Service is for
            your information only; actual exchange rate may vary. You acknowledge and agree that Service Providers
            and / or AIRPORT GLOBAL TRANSFER SERVICE may, at its discretion, round up or down the price paid to
            Service Providers to the nearest whole number of the currency in which the price is expressed.
        </p>
        <p>
            3.3. Users do not pay any additional fees or other payments (in favor of the Service Providers or AIRPORT
            GLOBAL TRANSFER SERVICE), except for the cost of the Airport Services booked.
        </p>
        <p>
            3.4. The booked Airport Services shall be fully prepaid during the booking process. The booking of the
            Airport Services cannot be completed until full payment is made for such airport Services.
        </p>
        <p>
            3.5. AIRPORT GLOBAL TRANSFER SERVICE, on behalf and at the expense of the Providers, provides users with
            the opportunity to pay for the Airport Services booked through the Aırport Global Transfer Servıce
            Service with the help of the Payment Operator, engaged by AIRPORT GLOBAL TRANSFER SERVICE.
        </p>
        <p>
            3.6. User can pay for the booked Airport Services using a bank card. When booking, each user must provide
            valid and correct payment details of a bank card to the Payment Operator, through which payment for the
            booked Airport Services is made. You acknowledge that AIRPORT GLOBAL TRANSFER SERVICE does not collect
            or store payment information (including bank cards data), and that the general conditions of the Payment
            Operator and its Privacy Policy shall apply in this regard. Financial information will only be used to
            pay for booked Airport Services. You confirm and warrant that you will provide the Payment Operator with
            the correct personal data and payment details. You acknowledge and agree that (for the avoidance of any
            doubts, in addition to these Terms), any payments for the booked Airport Services may be subject to
            additional terms (as well as a privacy policy) established by the Payment Operator.
        </p>
        <p>4. Booking confirmation</p>
        <p>
            4.1. Within 25 hours after completing the booking via Aırport Global Transfer Servıce Service, you will
            receive a notification (to your email address) about whether your booking has been confirmed by the
            Service Provider - in this case, you will be provided with a unique Booking ID.
        </p>
        <p>5. Cancellations and denials rules. Chargeback policy.</p>
        <p>
            5.1. By using the Aırport Global Transfer Servıce Service, you acknowledge and agree that even after
            confirming the booking of the Airport Services, the Service Providers reserve the right to cancel the
            booking or deny the provision of the booked Airport Services (hereinafter referred to as Cancellations
            and Denials).
        </p>
        <p>5.2. Also, you have the right to cancel your Service booking or to refuse to receive it yourself.</p>
        <p>
            5.3. Each Airport Service Provider establishes Cancellations and Denials rules independently, including:
        </p>
        <p>&bull;terms of cancellation initiated by the Service Provider</p>
        <p>&bull;terms of cancellation initiated by the User</p>
        <p>&bull;terms of Provider&apos;s denial to provide the Airport Services</p>
        <p>&bull;terms of User&apos;s refusal to receive the Airport Services</p>
        <p>&bull;chargeback policy in case of Cancellations and Denials</p>
        <p>
            The above Cancellations and Denials terms and chargeback policy are specified in the Information about
            the Airport Services posted by Providers.
        </p>
        <p>
            5.4. In case of Cancellation of the booked Airport Services at the initiative of the Supplier, you will
            be immediately notified by the email address you specified when booking.
        </p>
        <p>
            5.5. You have the right to be subject to the Cancellations and Denials terms, as well as the chargeback
            policy in effect at the time of your booking of the Airport Serviceg.
        </p>
        <p>
            5.6. A request to cancel a booking at the initiative of the User must be sent by the user via his or her
            personal account.
        </p>
        <p>6. Receiving the Airport Services</p>
        <p>
            6.1. In order to receive the booked Airport Services, the user must provide the Service Provider with a
            Booking ID and other supporting data or documents (for example, a passport, air ticket) according to the
            requirements of each Provider posted in the Information about the airport Services.
        </p>
        <p>7. Disclaimer</p>
        <p>
            7.1. AIRPORT GLOBAL TRANSFER SERVICE SHALL NOT BE LIABLE TO USERS OR THIRD PARTIES FOR THE PROVISION OF
            THE AIRPORT SERVICES (INCLUDING, BUT NOT LIMITED TO, THEIR QUALITY, COMPLIANCE WITH THE DESCRIPTION, OR
            ANY CANCELLATIONS OR DENIALS). FULFILLING OBLIGATIONS RELATED TO THE AIRPORT SERVICES IS THE SOLE
            RESPONSIBILITY OF SERVICE PROVIDERS. ANY CLAIMS OR COMPLAINTS REGARDING THE AIRPORT SERVICES MAY ONLY BE
            FILED TO SERVICE PROVIDERS.
        </p>
        <p>
            7.2. In accordance with the restrictions set forth in these Terms, in the cases established by law,
            AIRPORT GLOBAL TRANSFER SERVICE shall be liable only for direct damages done to, paid for or suffered by
            users due to the unfair fulfillment of our obligations set forth in these Terms. In any case, our
            liability (for a single event or a series of related events) is limited to the cumulative sum of the
            total cost of your booking specified in the email confirmation received by the user in accordance with
            clause 4.1. of these Terms.
        </p>
        <p>
            7.3. AIRPORT GLOBAL TRANSFER SERVICE shall not be liable for any damages (direct losses, lost profits),
            payment of any penalties (fines and other sanctions), any other losses or expenses made, incurred or
            paid by you, arising from or in connection with the use, inability to use or delay in the operation of
            the Aırport Global Transfer Servıce Service. AIRPORT GLOBAL TRANSFER SERVICE also disclaims any
            liability for (i) any inaccuracies related to the Information about the Airport Services provided by
            Service Providers on the Aırport Global Transfer Servıce Service and (ii) the rendering of such Services
            by the Providers. AIRPORT GLOBAL TRANSFER SERVICE shall not be liable for any interruptions in the
            Aırport Global Transfer Servıce Service (for example, due to technical breakdown, repair, upgrading or
            maintenance of the Aırport Global Transfer Servıce Service or for any other reason).
        </p>
        <p>
            7.4. AIRPORT GLOBAL TRANSFER SERVICE also shall not be liable for errors (including obvious and
            typographical errors), as well as any inaccurate, misleading or incorrect information (incompleteness or
            non-provision of such information). Each Service Provider shall be liable at all times for the accuracy,
            completeness and correctness of the Information about the Airport Services (including information on
            pricing and availability of certain Airport Services) published on the Aırport Global Transfer Servıce
            Service, as well as any other information published or provided for publication on the Aırport Global
            Transfer Servıce Service. Obvious errors contained in the Aırport Global Transfer Servıce Service do not
            entail legal obligations.
        </p>
        <p>
            7.5. Any claims or complaints regarding the Aırport Global Transfer Servıce Service or any Airport
            Service, action or event for which AIRPORT GLOBAL TRANSFER SERVICE may be liable must be submitted in a
            timely manner, but no later than 1 (one) month after the date of the event or action, which is the basis
            for such a claim or complaint. Any claim or complaint filed after the expiration of 1 (one) month may be
            rejected, and its bearer will lose the right to any compensation or refund. Claims or complaints
            referred to in this paragraph should be sent to the following email address <a data-fr-linked="true"
                                                                                           href="mailto:info@airportglobaltransfer.com">info@airportglobaltransfer.com</a>&nbsp;
        </p>
        <p>
            7.6. AIRPORT GLOBAL TRANSFER SERVICE may at any time decide to terminate the Aırport Global Transfer
            Servıce Service operation without prior notice to users. AIRPORT GLOBAL TRANSFER SERVICE does not
            guarantee that Aırport Global Transfer Servıce Service will be compatible with the user hardware and
            software. AIRPORT GLOBAL TRANSFER SERVICE is not obliged to provide its services in case of failures in
            its technical infrastructure, software, servers or failures in technical infrastructure, software or
            network resources of other entities on which Aırport Global Transfer Servıce Service depends, or in case
            of errors or failures in its own servers.
        </p>
        <p>8. Applicable Law</p>
        <p>
            8.1. These Terms shall be interpreted in accordance with the current legislation of Estonia. Any disputes
            arising from these Terms shall be resolved in the courts of Estonia. In case of discrepancy in
            understanding of the different translations of these Terms, the English version shall prevail.
        </p>
        <p>8.2. This version of the Terms shall enter into force on December 1, 2019.</p>
        <p><br></p>
    </div>
</section>
