@{
    ViewData["title"] = "Terms";
}

@section pageCss{
    <style>
        ._About_Module h2 {
            font-size: 1.05rem;
            font-weight: 600;
        }
    </style>


}
<section class="_Module_Margin _About_Module">
    <div class="container">

		<h3>Terms & Conditions</h3>
		<h2>1. INTRODUCTION</h2>
		<p>
			This is Airport Global Transfer’s (MYDN GROUP SAĞLIK TURİZM TİCARET LİMİTED ŞİRKETİ) Terms and Conditions
			(Terms), which you have accessed through our website. Please take a moment to read these Terms carefully before
			continuing to access our website and/or making a booking with a transport provider.
		</p>
		<p>
			For a better understanding about how we govern the use of our website, please read these Terms together with our
			PrivacyPolicy, CancellationPolicy and Cookie Policy.
		</p>
		<p>
			By using our website and/or if you make a booking for ground transport with a Transport Company, you confirm to
			us that you:
		</p>
		<ul>
			<li>are at least 18 years old;</li>
			<li>have legal capacity to be bound by these Terms;</li>
			<li>have had sufficient chance to read and understand these Terms; and</li>
			<li>accept these Terms and that you agree to comply and to be bound by them.</li>
		</ul>
		<p>If you do not agree accept these Terms, you must stop using the website.</p>
		<h2>2. WHO IS AİRPORT GLOBAL TRANSFER.COM?</h2>
		<p>
			airportglobaltransfer.com is a website owned and operated by At Airport Global Transfer (MYDN GROUP SAĞLIK TURİZM
			TİCARET LİMİTED ŞİRKETİ) Limited (“Airport Global Transfer (MYDN GROUP SAĞLIK TURİZM TİCARET LİMİTED ŞİRKETİ)“,
			“us“, “we” and “our“), registered in Turkey (company registration number 375649-5) addressed Esentepe Mah.
			Büyükdere Cad. Levent 193 Apt. No:193 Inner Door No:5 Şişli/Istanbul- TURKEY.
		</p>
		<p>
			Our website is an online marketplace designed to make bookings easier with available ground transport companies
			(“Transport Company”) listed according to multiple features to fit with our users.
		</p>
		<p>
			Each Transport Company is an independent and separate entity to us. The Transport Company is responsible for
			providing its transport services to you and/or any passengers that are part of your booking (“Transport
			Services”).
		</p>
		<h2>3. CONTRACT</h2>
		<p>
			At the of your booking we will arrange for you to enter into a contract with the applicable Transport Company,
			choosen by you. As an marketplace we accept no responsibility for the acts or omissions of Transport Company or
			for the services provided by them. Your relationship with us is only subject to these Terms and Conditions.
		</p>
		<p>
			Please note that, as you are contracting directly with the Transport Company, you may also be bound by terms and
			conditions of them, which you can request from your Transport Company directly. It is advised to read both terms
			and conditions carefully. The Transport Company’s booking conditions may limit and/or exclude their liability to
			you.
		</p>
		<p>
			At the time of your booking you confirm you have read and accept these terms and information on our website and
			have the legal capacity and authority to accept these terms on behalf of yourself and all members of your party.
			This means that you are responsible for making all payments due, notifying us if any changes or cancellations
			are required, receiving the confirmation and keeping your party informed.
		</p>
		<p>
			We are going to send you confirmation on Transport Company’s behalf when your booking is confirmed and a contract
			between will exist. We are entitled, on behalf of the choosen Transport Company, to refuse any order placed by
			you. We do not guarantee to successfully allocate Transport Services to every booking request. In the unlikely
			event that we are unable to allocate Transport Services to your booking request we will email you to advise you
			as soon as possible.
		</p>
		<p>
			By using the Services we provide on our site, you are deemed to have accepted to recieve the e-mails and SMS we
			send to you for the necessity of the transactions. Thus, all of your transactions regarding the services you
			access through our site will be easier and faster.
		</p>
		<p>
			During your membership process to our site, you can also accept to receive our commercial e-mails, and text
			messages which we inform you about our special opportunitys, promotions and campaigns regarding to our Services,
			by using the opt-in option. This option is entirely up to your consent, and you can withdraw your commercial
			electronic consent for marketing e-mails and text messages at any time. For more, please check our Privacy
			Policy.
		</p>
		<h2>4. BOOKINGS</h2>
		<p>
			To make a booking, choose one of the Transport Companies listed on our website according to your wishes and
			follow the online booking steps.
		</p>
		<p>
			You must check all of the information which you provide us with at the time of booking to ensure it is correct,
			including the pick-up information. Once you have confirmed these details we will proceed to confirm the booking
			with the Transport Company you chose to work with.
		</p>
		<p>
			Neither we nor the Transport Company is responsible, if you have not provided correct information regarding your
			trip. See our Cancellation Policy for more information.
		</p>
		<p>
			If your booking is made with a Transport Company outside UK (whether in the EEA or not), you understand and agree
			that your personal information necessary to make your booking will be transferred to the overseas Transport
			Company in order to service your booking. Full details of our Privacy Policy are avaible upon request and on our
			website.
		</p>
		<p>
			The map and road-route of the Service appearing on the site are shown purely for the purpose of giving a
			preliminary idea. The same service on the map shown is not guaranteed on the basis of distance, time and km. The
			Transport Company determines the most convenient route for himself and his passenger. Please keep this in mind
			when booking and determining your destination point.
		</p>
		<p>
			Your booking is confirmed once a booking confirmation will be sent to the email address provided at the time of
			your booking. You may need to present your booking details to the driver to board the vehicle.
		</p>
		<p>
			Once your booking is confirmed, your chosen Transport Company will be waiting for you at the pick-up destination
			point and in pick-up departure time which you have entered while booking. The Transport Company may contact you
			a few hours before your Pick up Departure Time or you can contact them with the detailed information you
			recieved on your booking confirmation mail. Please see Meeting With The Transport Company below for detailed
			information.
		</p>
		<h2>5. PRICE AND PAYMENT</h2>
		<p>
			All prices listed on our website are inclusive of taxes, airport parking, admin and agency fees. The transfer
			details on your booking page will list other features (if any) that are included in the price.
		</p>
		<p>
			Unless otherwise stated in the prices shown in the search results, road bridge etc. tolls are excluded. You may
			have to pay this to the Transport Company separately.
		</p>
		<p>
			Any extras or other requests you make, may incur additional costs that must be paid directly to the Transport
			Company. Please note that, Transport Company you are in contract with may not accept the requests which you
			demand after the cancellation time. In such cases, it is up to Transport Company to charge you in full. See
			Baggage, Additional Passengers, Special Requests, Disabled Or Special Needs Passengers and Child Passengers
			below for more.
		</p>
		<p>
			The credit or debit card you use to pay the price for the booking will be charged by our bussiness partner Stripe
			immediately at the time of your demand for booking and a payment confirmation e-mail will be sent to your
			provided mail address. However, the payment will not be transferred to the company within three business days,
			starting from the next business day from the day you were supposed to receive the service. Thus, if there is a
			problem with the Transport Service you have or have not recieved, you can contact us within three working days
			regarding your payment. For more, please see our Cancellation Policy.
		</p>
		<p>
			We actually get paid in dollars on Airport Global Transfer (MYDN GROUP SAĞLIK TURİZM TİCARET LİMİTED ŞİRKETİ).com
			but the price may be displayed in your preferred currency and is estimated based on the current exchange rates.
			Final payment will be settled in the currency of choice of the Transport Company. The currency will be displayed
			on the booking details page. You may be charged a fee by your bank even if the charge is processed in the
			original currency of your payment method. Please check our bussines partner Stripe’s Terms and Conditons for
			more.
		</p>
		<p>
			Note that fees or charges added by your card provider are not refundable by us or the Transport Company. You will
			need to contact your card provider.
		</p>
		<p>
			From time to time we run promotions and discounts. Specific terms and conditions need to be checked for each of
			the promotions.
		</p>
		<h2>6. MEETING THE TRANSPORT COMPANY</h2>
		<p>
			It is the responsibility of all passengers to wait for the transfer at the location detailed in your booking
			confirmation mail, or as otherwise arranged and agreed between you and your Transport Company. You should be at
			that location at least 15 minutes before the pick-up departure time agreed with, or notified by, the Transport
			Company.
		</p>
		<p>
			Since the arrival time from your pick-up point to your destination may vary depending on traffic and many other
			conditions, we recommend that you calculate this time up-to-date with the support of Google and similar
			applications at time of your booking. The estimated time given by the Transport Company just to help you is not
			binding, you cannot claim your damages if you are late to your destination point according to this estimated
			arrival time.
		</p>
		<p>
			If you do not cancel the Transport Services within the time specified for cancellation and determined by the time
			you selected your Transport Services, even if you do not use the Transport Services (for example you are a “no
			show”), you will not be entitled to a refund.
		</p>
		<p>
			If you are delayed, and the Transport Service you have chose does not provide you any delay time, you must
			contact your Transport Company as soon as possible. Alternative pickup arrangements are subject to the
			availability of the Transport Company and it is up to them to whether wait for you or charge you on full price
			for not showing up. Failure to contact your Transport Company will be considered a Passenger No-show and you
			will not be eligible for a refund.
		</p>
		<p>
			If the Transport Company does not arrive to pick you up and has not contacted you about this before your pick-up
			departure time, you should contact your Transport Company as soon as possible. If you cannot contact the
			Transport Company, make sure you do not miss your flight or other connections and make alternative transport
			arrangements. Notify Airport Global Transfer (MYDN GROUP SAĞLIK TURİZM TİCARET LİMİTED ŞİRKETİ) using the
			specific link sent to your provided e-mail as soon as possible (within three working days at the latest) with
			evidence that your driver did not pick you up at the designated pick-up area. If this is due to the fault of the
			Transport Company or the driver you will be entitled to a full refund. Please see Cancellation, Refund And
			Changes belowandour Cancellation Policy.
		</p>
		<p>
			If the Transport Company does not pick you up for any reason that is not due to the fault of the Transport
			Company, the driver or is otherwise due to a reason outside the reasonable control of the Transport Company or
			the driver, or if you are delayed for any reason, this may result in the Transport Company (or driver) not being
			able to service your booking.
		</p>
		<h2>7. BAGGAGE</h2>
		<p>
			Each passenger is entitled to bring baggaged to the amount and size limited to the Transport Service they choose
			while booking. Extra baggage exceeding permitted dimensions (and other items such as golf bags, skis etc(e.g.
			skis, bicycles, snowboards, wheelchairs/scooters etc.) must be declared at the time of booking and may result in
			additional fees/charges payable to the Transport Company. Extra baggage or baggage exceeding standard dimensions
			are subject to baggage hold space availability and your booking may be declined if the Transport Company is
			unable to accommodate them. You may be required to upgrade your vehicle type.
		</p>
		<p>
			The Transport Company may, however, make a charge for excess baggage or refuse carriage of the excess items
			without prior arrangement. See also Special Requests Or Requirement.
		</p>
		<h2>8. ADDITIONAL PASSENGER</h2>
		<p>
			Our listed Transport Companies do not charge you according to the number of people, but since the features and
			capacity of the vehicle to be selected will vary according to the number of people, we recommend that you
			contact the company directly for the addition made after booking. Depending on the situation, the Transport
			Company may provide a different vehicle to suit you and charge you extra for it, or refuse to provide service
			for additional passengers.
		</p>
		<p>
			Note that, you can always cancel your booking in determined time limit which vary by Transport Company you choose
			and make bookings by adding additional passenger number.
		</p>
		<h2>9. SPECIAL REQUESTS OR REQUIREMENTS</h2>
		<p>
			All special requests including VIP escorting and welcoming services are subject to the ability of the Transport
			Company to meet those requests. We cannot guarantee that any special request will be met by the Transport
			Company. We recommend you contact the Transport Company directly before your pick-up departure time to confirm
			your special requirements. Extra fees may apply, and if so, you will need to pay them directly to your Transport
			Company.
		</p>
		<h2>10. CHILD PASSENGERS AND CHILD SEATS</h2>
		<p>
			In certain destinations that you may have booked (e.g. the European Union), children under the age of two can
			travel withot a child seat as long as they is on an adult passagers seat Transport Company’s shuttle transport
			services. However, the relevant authorities state that children must use an appropriate child seat until they
			reach 12 years of age or until they reach a height of 135 cm.
		</p>
		<p>
			Please note that, all children and infants count towards the occupancy of the vehicle, regardless of age, and
			this must be included in the total number of passengers at the time of booking.
		</p>
		<p>
			Transport Company will endeavour to ensure that child seats are provided, where they have been requested (and in
			some cases paid for by you at the time of booking). Please ensure that you are aware of the local guidelines
			when travelling with children. Please consider, we do not guarantee that child seat requested in the booking
			will be provided. All special requests including child or baby seats are subject to the ability of the Transport
			Company to meet those requests.
		</p>
		<h2>11. DISABLED OR SPECIAL NEEDS PASSENGERS</h2>
		<p>
			We and our listed Transport Companies are not a specialist disabled transportation company but will use
			reasonable endeavours to cater for any requirements you may have. If you or any member of your party has any
			medical condition or disability which may affect your ability to use our standard services, please use our
			listing feature to suit your special needs. You can always let us know about your requirements by writing us a
			order note prior to booking, so that we may ensure that the correct vehicle is booked to meet your requirements.
		</p>
		<h2>12. LATE BOOKINGS</h2>
		<p>
			Each Transport Company has varying pre-pick up booking time limits, therefore it is not possible for every
			company and vehicle to accept last minute passengers. Luckily, this is also a listing feature of Airport Global
			Transfer (MYDN GROUP SAĞLIK TURİZM TİCARET LİMİTED ŞİRKETİ).
		</p>
		<p>
			If you need to make a reservation just before the time you want to be picked up, the minimum hour limit required
			to book before the pick up time will vary according to listed Transport Companies. We recommend you to choose
			the Transport Company carefully and by checking their minimum hour limit, in this way you can enjoy the quick
			booking service we provide.
		</p>
		<h2>13. CANCELLATIONS, REFUNDS AND CHANGES</h2>
		<p>
			Since we are an online Marketplace, cancellations must be made by you using our website or with the
			info@airportglobaltransfer.com e-mail adress which will directly send you an cancellation form in order to get
			your details and cancel it on time.
		</p>
		<p>
			You may be entitled to a refund, depending on when you cancel your booking. Cancellation time limit may vary by
			the Transport Company and the vehicle you choose, this is one of the listing features that Airporttranfer offers
			to fit best to it’s users. Cancellation time limit for the bus or group transfers (for more than 14 passengers)
			is subject to 72 hours, cannot be cancelled within 72 hours. All modifications that are made within 48 hours to
			the transfer time are subject to cancellation policy. Please refer to the terms and conditions and the specific
			cancellation policy of the Tranfer Company booked prior to the time of booking. Airport Global Transfer (MYDN
			GROUP SAĞLIK TURİZM TİCARET LİMİTED ŞİRKETİ) cannot be held responsible and will not pay compensation for any
			flight ticket, hotel reservation, train ticket cancellations that may occur due to the delay of the
			transportation company. To prevent these kind of inconveniences, we strongly recommend you to issue your own
			insurance for these. (please see 14. insurance)
		</p>
		<p>
			If you do not use the services for any reason and do not cancel the booking using the website, no refunds will be
			provided. See our Cancellation Policy for more.
		</p>
		<p>
			We will inform you as soon as reasonably possible if the Transfer Company needs to make a significant change to
			your confirmed Transport Arrangements or to cancel them. We will also liaise between you and the Transport
			Company in relation to any alternative arrangements offered by the them but we will have no further liability to
			you.
		</p>
		<h2>14. INSURANCE</h2>
		<p>
			We recommend that you travel with your own travel insurance which is adequate for your needs including your
			flight ticket,hotel booking or any other transportation tickets you may have.
		</p>
		<h2>15. OUR RESPONSIBILITY</h2>
		<p>
			We act as a marketplace for the Transport Companies with whom you may choose to make your booking.
			info@airportglobaltransfer.com (including our employees, officers and directors) do not accept responsibility
			for the actual provision of the Transport Services, the acts or omissions, or for any loss or damage of any kind
			arising out of, or in connection with any booking made with a Transport Provider, or for any loss or damage
			caused by the a Transport Provider or its drivers, or the performance by them of the Transport Services.
		</p>
		<p>
			Since we are a marketplace with lots of Transport Companies, the information displayed on our website, concerning
			the Transport Company and Transport Services, including pricing, vehicle type, availability, and any terms and
			conditions is provided to us by the relevant Transport Company or their agents. We are not responsible for such
			information and we rely on the accuracy of the information provided to us by the relevant Transport Company.
		</p>
		<p>
			Despite the above, no provision of these Terms attempts or purports to exclude liability arising under applicable
			law if, and only to the extent, such liability cannot be lawfully excluded. See Disclaimer.
		</p>
		<p>
			The selected vehicle may not be the same vehicle as the photo. Vehicle allocation is subject to availability. We
			do not have a black car commitment, there may be a taxi sign on the vehicles, but we guarantee that all
			transfers will be “private”.
		</p>
		<h2>16. PRIVACY</h2>
		<p>
			We care about the security of you and your data. Please be aware that we do not receive your sensitive data for
			any purpose. You can see the details of all personal data that we gather to provide you Transport Services. We
			protect your data according to TURKEY KVKK and take our user’s privacy seriously. Please see our Privacy Policy
			and Cookie Policy to see all details.
		</p>
		<h2>17. COMPLAINTS</h2>
		<p>
			Due to contract between you and the Transport Company, any queries or concerns relating to your service should be
			addressed to them. If you have a problem whilst on your trip this must be reported to the Transport Company
			immediately at destination. Contact details of the Transport Company are on the booking confirmation mail which
			we send when your booking is confirmed.
		</p>
		<p>
			If you fail to follow this procedure there will be less opportunity to investigate and rectify your complaint.
			However, since the payment will not be transferred to the company within three business days, if there is a
			problem with the Transport Service you have or have not recieved, you can contact us within three working days
			regarding your payment.
		</p>
		<h2>18. DISCLAIMER</h2>
		<p>
			To the maximum extent permitted by applicable law, we exclude all liability for any loss or damage, however
			caused (including through negligence), which you may directly or indirectly suffer in connection with your use
			of the website or any linked website. This exclusion includes any loss or damage caused by loss of data,
			interruption of business or any consequential or incidental damages, or any loss arising out of your use of or
			reliance on information contained on or accessed through the website. Also, to the full extent permitted by
			applicable law, any condition or warranty which would otherwise be implied into these Terms is hereby excluded.
		</p>
		<p>
			Despite the above, no provision of these Terms attempts or purports to exclude liability arising under applicable
			law if, and to the extent, such liability cannot be lawfully excluded.
		</p>
		<p>
			If under any applicable legislation any condition or warranty or provision is implied, and that legislation
			prohibits us from excluding or modifying the application of, or our liability under, any such condition or
			warranty, that condition or warranty will be deemed included but our liability will be limited for a breach of
			that condition or warranty to one or more of the following, at our option:
		</p>
		<ul>
			<li>of the service again; or the payment of the cost</li>
			<li>the supplying</li>
			<li>
				of having the service supplied again(for example in the case of a booking, the price paid for the booking.)
			</li>
		</ul>
		<p>
			If none of the above is permitted under applicable legislation, then our liability is to be limited to the
			maximum extent permitted by applicable legislation.
		</p>
		<h2>19. INTELLECTUAL PROPERTY RIGHTS</h2>
		<p>
			The copyright, trademarks and other intellectual property rights in our websites are ours, or are granted and are
			protected by national and international regulations.
		</p>
		<p>
			Any use of our website content is prohibited, including the modification, subsequent publication, reproduction or
			total or partial representation of the same without our express consent.
		</p>
		<p>You hereby undertake not to use our websites for unlawful purposes.</p>
		<h2>20. SEVERABILITY</h2>
		<p>
			If any provision or part of a provision, of these terms and conditions is found by any court or authority of
			competent jurisdiction to be unlawful, otherwise invalid or unenforceable, such provision or part-provision will
			be struck out of these terms and conditions and the remainder of these terms and conditions will apply as if the
			offending provision or part-provision had never been agreed.
		</p>
		<h2>21. GOVERNING LAW AND JURISDICTION</h2>
		<p>
			These terms and conditions and any dispute or claim arising out of or in connection with them (including
			non-contractual disputes or claims) shall be governed by and construed in accordance with English law. Disputes
			or claims arising out of or in connection with these terms and conditions (including non-contractual disputes or
			claims) shall be subject to the exclusive jurisdiction of the English courts.
		</p>
		<h2>22. LAST UPDATED</h2>
		<p>
			We update these Terms from time to time, so please refer to this page regularly. A printed version of these Terms
			will be store and you can request it. This page was last updated on 3 October 2022.
		</p>
    </div>
</section>
